.postmessage_boxCon{
	float:left;
	width:635px;
	position: relative;
	top: 0px;
	left: 0px;

	border: 1px solid red;
}
.postmessage_boxCon a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
	padding-right:10px;
}
.postmessage_boxCon a:hover{
	text-decoration:underline;
}
.postmessage_boxCon .message_text{
	clear:both;
	width:570px;
}
.dataora{
	position: absolute;
	right: 5px;
	top: 5px;
	color:#666;
	font-size: 11px;
	float: left;
}
.postmessage_boxCon dataora,
.postmessage_boxCon .title,
.postmessage_boxCon .countryBox {
	float:left;

	border:1px solid green;
}
.postmessage_boxCon .title {
	width:350px;
}

.postmessage_boxCon .countryBox div,
.postmessage_boxCon .countryBox img {
	clear:both;
}
.postCon_box .name{
	float:left;
	color:#5480C4;
	/*font-weight:bold;*/
}
.postCon_box .name img{
	margin:0px 5px;
}
.linkSet {
	clear:both;
}

#commentsSet {
	margin-bottom:10px;
}
div.newReply {
	width:200px;
	height:20px;
	border:1px solid #5497E1;
	background-color:#DEE6F3;
	color:#1E3550;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:12px;
	/*font-weight:bold;*/
}
div.newReply:hover {
	border:1px solid #FFF000;
	background-color:#1E3550;
	color:#DEE6F3;
	cursor:pointer;
}
div.newReply img,
div.newReply div {
	float:left;
}
div.newReply div {
	margin-left:5px;
}

.newReplyBox {

}
.newReplyBox .replyTitle {
	clear:both;
	font-weight:bold;
	margin-left:10px;
	position:relative;
}
.newReplyBox textarea {
	width:600px;
	height:60px;
	border:1px solid #ccc;
	margin-left:10px;
	font-family:arial;
	font-size:12px;
}

div.sendMessage {
	width:150px;
	height:20px;
	background-image:url("../images/button.png");
	background-repeat:repeat-x;
	padding-left:30px;
	padding-top:2px;
	margin-top:3px;
	color:#FFF000;
	font-weight:bold;
}
.newReplyBox div.sendMessage {
	margin-left:430px;
}
.newCommentBox div.sendMessage {
	margin-left:460px;
}
div.sendMessage:hover {
	cursor:pointer;
}
div.newComment {
	width:200px;
	height:20px;
	border:1px solid #5497E1;
	background-color:#DEE6F3;
	color:#1E3550;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:12px;
}
div.newComment:hover {
	border:1px solid #FFF000;
	background-color:#1E3550;
	color:#DEE6F3;
	cursor:pointer;
}
div.newComment img,
div.newComment div {
	float:left;
}
div.newComment div {
	margin-left:5px;
}
.newCommentBox .commentTitle {
	clear:both;
	font-weight:bold;
	margin-left:10px;
}
div.newCommentBox textarea {
	width:628px;
	height:60px;
	border:1px solid #ccc;
	margin-left:10px;
	font-family:arial;
	font-size:12px;
}

.commentItem {
	width:635px;
	float:left;
	position:relative;
}

img.userLocation {
	width:200px;
	height:100px;
}