@charset "utf-8";
/* CSS Document */
#main .first_div{
	width:812px;
	height:42px;
	float:left;
	background:#F2F2F2;
	padding:8px 0px 0px 8px;
}
#main .first_div a{
	width:106px;
	height:25px;
	float:left;
	display:block;
	background:#ccc;
	border:1px solid #666;
	color:#666;
	margin-right:6px;
	text-decoration:none;
	font-size:12px;
	text-align:center;
	padding-top:8px;
}
#main .first_div a:hover{
	color:#fff;
	background:#C1272D;
}
#main .first_div a:active{
	color:#fff;
	background:#C1272D;
}
.second_div{
	width:812px;
	height:42px;
	float:left;
	background:#F2F2F2;
	padding:8px 0px 0px 8px;
}
.second_div a{
	width:106px;
	height:25px;
	float:left;
	display:block;
	background:#ccc;
	border:1px solid #666;
	color:#666;
	margin-right:6px;
	text-decoration:none;
	font-size:12px;
	text-align:center;
	padding-top:8px;
}
.second_div a:hover{
	background:#275291;
	color:#fff;
}
.second_div a:active{
	background:#275291;
	color:#fff;
}
.third_div{
	width:820px;
	height:38px;
	float:left;
	background:#88ADD8;
}
.third_div a{
	height:28px;
	display:block;
	float:left;
	border-right:1px solid #666;
	padding:10px 15px 0px 15px;
	text-decoration:none;
	color:#000;
	font-size:11px;
}
.third_div a:hover{
	background:#BFD8EF;
}
.third_div a:active{
	background:#BFD8EF;
}
/*-----tabel----*/
#tableCon{
	width:818px;
	float:left;
	border:1px solid #666;
	margin:6px 0px 10px 0px;
}
#tableCon table{
	margin:3px;
}
#tableCon thead{
	width:810px;
	height:34px;
	background:#666;
}
#tableCon thead th{
	height:30px;
	border-right:1px solid #ccc;
	padding-left:17px;
	color:#fff;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
#tableCon tbody tr:hover{
	background:#FBB03B;
	cursor:pointer;
}
#tableCon tr td{
	height:30px;
	border-bottom:1px dashed #ccc;
	padding-left:17px;
}
.pagination_con{
	width:818px;
	height:47px;
	float:left;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.pagination_con .text{
	display:block;
	float:left;
	font-size:14px;
	margin:18px 15px 0px 15px;
}
.pagination_con a{
	width:30px;
	height:25px;
	display:block;
	float:left;
	margin:10px 5px 0px 5px;
	border:1px solid #ccc; 
	font-size:14px;
	text-decoration:none;
	text-align:center;
	color:#000;
	padding-top:5px;
	
}
.pagination_con a:hover{
	background:#ccc;
}