@charset "utf-8";
/* CSS Document */
#content .boxfield{
	float:left;
	margin:0px 20px 10px 0px;
}
#content .boxfield label{
	display:block;
	height:20px;
	color:#666;
}
#content .boxfield select{
	height:26px;
	border:1px solid #666;
	margin-bottom:2px;
}
#content .boxfield input[type=text]{
	height:22px;
	border:1px solid #666;
	margin-bottom:2px;
}
#content .boxfield textarea{
	border:1px solid #666;
}
#content .boxfield input[type=file]{
	height:26px;
}
.boxfield .branch1{
	width:317px;
}
.boxfield .registration_number_input{
	width:115px;
}
.boxfield .photo_input{
	width:224px;
}
.boxfield .imgCon{
	width:100px;
	height:100px;
}
.boxfield .class1{
	width:199px;
}
.boxfield .manufacturer1{
	width:180px;
}
.boxfield .model_input{
	width:235px;
}
.boxfield .construction_year_input{
	width:95px;
}
.boxfield .fuel1{
	width:149px;
}
.boxfield .purchase_type_input{
	width:248px;
}
.boxfield .cost_input{
	width:154px;
}
.boxfield .date_input{
	width:80px;
}
.boxfield .calendar{
	margin:1px 5px 0px 5px;
}
.boxfield .general_notes_input{
	width:720px;
}
