#left #menu a:link,
#left #menu a:visited {
	display: block;
	width:250px;
	height:32px;
	padding:3px 5px;
	border:1px solid #1E3550;
	margin-bottom:5px;
	text-decoration:none;
	color:#1E3550;
	background-color:#DEE6F3;
	font-size:14px;
}
#left #menu a:hover {
	/*border:1px solid #DEE6F3;*/
	border:1px solid #FFF000;
	text-decoration:none;
	color:#DEE6F3;
	background-color:#1E3550;
	font-weight:bold;
}
#left #menu div,
#left #menu img {
	float:left;
}
#left #menu div {
	margin-top:8px;
	margin-left:5px;
}