._pageTabContainer {
	width:809px;
	height:33px;
	/*float:left;*/
	/**padding-left:8px;*/
	margin-top:10px;
	position:relative;
}
._pageTab {
	width:83px;
	height:25px;
	float:left;
	border:1px solid #666;
	/*border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #666;*/
	background:#ccc;
	margin-right:6px;
	color:#666;
	text-decoration:none;
	text-align:center;
	padding-top:7px;
	position:relative;
	border-bottom:none;
}

._pageTabUnselected {
	width:83px;
	height:26px;
	float:left;
	margin-right:6px;
	text-align:center;
	padding-top:7px;
	position:relative;
	/*border-bottom:none;*/
}
._pageTabSelected {
	width:83px;
	float:left;
	margin-right:6px;
	text-align:center;
	padding-top:7px;
	position:relative;
	border-bottom:none;

	height:26px;
	background:#fff;
	color:#275291;
	overflow:visible;
}
._pageTabUnselected:hover {
	width:83px;
	float:left;
	margin-right:6px;
	text-align:center;
	padding-top:7px;
	position:relative;
	border-bottom:none;

	height:26px;
	background:#fff;
	color:#275291;
	overflow:visible;

	cursor:pointer;
}
._tabContent {
	border:1px solid #666;
	clear:both;
}