@import url("_menu.css");
@import url("_table.css");
@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../images/body1_bg.jpg) repeat-x #fff;
}
#header{
	width:980px;
	height:115px;
	margin:auto;
}

#header .logo{
	float:left;
	margin-left:10px;
}
#header .dove{
	float:left;
	position:relative;
	z-index:0px;
}
#header form{
	width:296px;
	float:left;
	margin-top:78px;
}
#header form label{
	font-size:12px;
	color:#fff;
	display:block;
	height:17px;
	float:left;
	margin:5px 10px 0px 0px;
}

#container{
	width:980px;
	margin:auto;
	padding-top:20px;
	margin-bottom:30px;
	font-size:12px;
	color:#1E3550;
}
.clear{clear:both;}
#left{
	width:323px;
	float:left;
	padding-left:10px;
}
/*
#left .profileCon{
	width:323px;
	float:left;
}
.profileCon .editpro{
	width:105px;
	float:left;
}
#left .details div{
	height:22px;
}
.profileCon .profile_pic{
	width:105px;
	height:105px;
	float:left;
	border:1px solid #ccc;
}
.profileCon .details{
	width:206px;
	float:left;
	margin-left:10px;
}
.profileCon .details .nameCon{
	float:left;
	width:206px;
}
.profileCon .details .nameCon div{
	float:left;
}
.profileCon .details .sexCon{
	float:left;
	width:206px;
}
.profileCon .details .sexCon div{
	float:left;
}
.profileCon .details .dobCon{
	float:left;
	width:206px;
}
.profileCon .details .dobCon div{
	float:left;
}
.profileCon .details .poboxCon{
	float:left;
	width:206px;
}
.profileCon .details .poboxCon div{
	float:left;
}
.profileCon .details .emailCon{
	float:left;
	width:206px;
}
.profileCon .details .emailCon div{
	float:left;
}
.profileCon .details .mobileCon{
	float:left;
	width:206px;
}
.profileCon .details .mobileCon div{
	float:left;
}
.profileCon .details .languagesCon{
	float:left;
	width:206px;
}
.profileCon .details .languagesCon div{
	float:left;
}
.profileCon .details .occupationCon{
	float:left;
}
.profileCon .details .occupationCon div{
	float:left;
}
.profileCon .details .countryCon{
	float:left;
	width:206px;
}
.profileCon .details .countryCon div{
	float:left;
}
.profileCon .details .countryCon img{
	float:left;
}
.profileCon .details .countryCon .nigerian_flag{margin:0px 5px}
.profileCon .editCon{
	width:105px;
	float:left;
	margin-top:5px;
}
.profileCon .editCon a{
	float:left;
	display:block;
	width:105px;
	text-decoration:none;
	color:#5480C4;
	height:19px;
}
.profileCon .editCon a:hover{
	text-decoration:underline;
}
.profileCon .editCon .logout{
	font-weight:bold;
}
*/

#main{
	width:637px;
	float:left;
	padding-left:5px;
}

#footer{
	width:980px;
	height:30px;
	margin:auto;
	border-top:1px solid #ccc;
	padding-bottom:10px;
}
#footer .linksCon{
	width:900px;
	margin-left:40px;
	float:left;
}
#footer a{
	display:block;
	float:left;
	text-decoration:none;
	color:#0F243E;
	padding:0px 20px;
}
#footer a:hover{
	text-decoration:underline;
}