[name=vehicle] {
	width:400px;
}
[name=driver] {
	width:150px;
}

[name=assignType], [name=vehicleType], [name=bookingStatus], [name=cancelReason] {
	width:200px;
}

[name=pickupNotes], [name=returnNotes] {
	width:400px;
	height:50px;
}

[name=pickupOdometer], [name=returnOdometer] {
	width:50px;

}
[name=travelStatus] {
	width:200px;
}
[name=otherReason], [name=cancelReasonOther], [name=tnotes]{
	width:400px;
}

.rowDetail [name^=fCity], .rowDetail [name^=tCity] {
	width:180px;
}
.rowDetail [name^=odometer] {
	width:60px;
}

.rowDetail {
	border:1px solid black;
	overflow:hidden;
}