
table
{ 
	empty-cells: show; 
}

.booking_BOOKED{
background:#FFFF00; 
}
.booking_DSPTHD{
background:#32CD32; 
}

.booking_CONFMD{
background:#FF4500;  
}

.booking_BROKEN{
background:#104E8B; 
}
.booking_REPAIR{
background:#838B8B; 
}
.booking_MNTNCE{
background:#7AC5CD; 
}
.booking_SOLD{
background:#424242;  
}
#gb_header, #gb_container, #gb_footer {
margin:auto;
}
#gb_header {
height:156px;
width:980px;
}
