._fVehicle {
	width:100px;
}
._fDriver {
	width:100px;
}
._fDate {
	width:100px;
}
._fDateTime {
	width:100px;
}
._fOdometer {
	width:100px;
}
._fNotes {
	width:750px;
}
._fCity {
	width:100px;
}
._fDistance {
	width:100px;
}
._fZip {
	width:50px;
}
._fAddress {
	width:400px;
}
._fEmail {
	width:250px;
}
._fPhone {
	width:100px;
}
._fAmount {
	width:100px;
}

._fCode{
	width:50px;
}

table
{ 
	empty-cells: show; 
}
.pagination a {
border:1px solid #999999;
color:#000000;
float:left;
height:22px;
margin:5px 0 0 10px;
padding-top:6px;
text-align:center;
text-decoration:none;
width:28px;
}

.result {
background:url("../images/result.png") no-repeat scroll 0 0 transparent;
color:#FFFFFF;
float:left;
font-size:14px;
height:28px;
margin-left:9px;
padding:12px 0 0 11px;
width:96px;
}
