._fStandard {
	border: 1px dashed #c0c0c0;
	font-family: tahoma, arial, sans serif;
	font-size: 12px;
	color: #000000;
	background-color: #fafafa;
	margin-bottom: 3px;
}
._fStandard:hover {
	border: 1px solid #c0c0c0;
	font-family: tahoma, arial, sans serif;
	font-size: 12px;
	color: #000000;
	background-color: #fafafa;
	cursor: text;
}
._fActive {
	border: 1px solid #c0c0c0;
	font-family: tahoma, arial, sans serif;
	font-size: 12px;
	color: #800000;
	background-color: #ffffa0;
	margin-bottom: 3px;
}

/*
_fChecks			List of checks to do
					 - mandatory
					 - email
					 - greaterThan0
*/
