
[name^=itemQty] {
	width:100px;
}
[name^=ItemCode] {
	width:100px;
}

[name^=discount] {
	width:100px;
}


[name^=itemDescription] {
	width:300px;
}

[name^=itemUnitPrice]{

	width:100px;
}
[name^=itemUnit]{

	width:100px;
}

[name^=vatPercentage] {
	width:100px;
}

[name^=rowTotal] {
	width:100px;
}

[name=notes] {
	width:690px;
}
[name=peopleName] {
	width:180px;
}
[name=peopleAddress] {
	width:300px;
}
[name=peopleCode] {
	width:80px;
}
[name=peopleZip] {
	width:80px;
}
[name=docAlpha] {
	width:80px;
}
[name=docNbr] {
	width:80px;
}