[name=username],[name=user_password] {
	width:150px;
}

._fpswd {
	width:150px;
}

[name=validFrom] {
	width:80px;
}
[name=validTo] {
	width:80px;
}
[name=profile] {
	width:150px;
}
[name=user_password] {
	width:150px;
}
[name=notes] {
	width:690px;
}