[name=address] {
	width:400px;
}
[name=email]
{
	width:250px;
}
[name=internalNbr] {
	width:100px;
}
[name=firstName], [name=lastName] {
	width:250px;
}
[name=licenseType] {
	width:200px;
}
[name=flt_fuelType] {
	width:150px;
}

[name=address] {
	width:300px;
}
[name=city] {
	width:200px;
}
[name=province] {
	width:100px;
}
[name=zip] {
	width:50px;
}
[name=email] {
	width:250px;
}
[name=mobilePhone], [name=homePhone], [name=otherPhone] {
	width:120px;
}
[name=licenseNbr] {
	width:100px;
}
[name=notes] {
	width:690px;
}

