@charset "utf-8";
/* CSS Document */

body {
	background:#f1f1f1;	
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px 22px;
	height:600px;
}
#header{
	width:980px;	
	height:174px;
	margin:auto;
}
#header img
{
	padding:10px 0 15px 384px;
	float:left;
}
#header div#log_div
{
	width:980px;
	height:30px;
	float:left;
	background-color:#292929;
}
#container
{
	width:980px;
	margin:auto;
}
#container #box{
	width:450px;
	height:270px;
	margin:113px 0px 0px 286px;
	background:#FFF;
}
#container #box #div_top
{
	width:450px;
	height:38px;
	background:#323232;
}
#box #div_main
{
	width:448px;
	height:188px;
}
#box #div_main img
{
	margin:24px 20px 0px 38px;
	float:left;
}
form{
	float:left;
	width:260px;
	padding-top:20px;
}
fieldset{
	width:910px;
	float:left;
	padding:10px 10px 0px 10px;
	margin:0px;
}
legend{
	font-size:16px;
	padding:0px 10px;
}
form .fieldbox{
	float:left;
	margin-bottom:10px;
}
.fieldbox label{
	display:block;
	font-size:11px;
	color:#808080;
	
}
.fieldbox input[type=text]{
	height:24px;
	background:#E6E6E6;
	border:1px solid #ccc;
	font-size:11px;
	padding:0px 3px;
}
.fieldbox input[type=password]{
	height:24px;
	background:#E6E6E6;
	border:1px solid #ccc;
	font-size:11px;
	padding:0px 3px;
}


.fieldbox .destination_input{
	width:220px;
	margin-right:20px;
}
form #check
{
	float:left;
	color:#656565;
	margin-right:40px;
}
 input[type=submit]{
	background:#CCCCCC;
	height:25px;
	width:65px;
	color:#656565;
	border:#999999 solid 1px;
	margin:0px 20px;
}
 input[type=submit]:hover{
	 cursor:pointer;
	 background:#E6BF00;
	
}
input[type=checkbox]
{
	 border:#999999 solid 3px;
	
}
#div_bottom
{
	width:450px;
	height:48px;
	float:left;
	background:#B7B7B7;
}

#div_bottom a
{
	color:#4E4E4E;
	padding:15px 0px 0px 20px;
	float:left;
	text-decoration:none;
}
#div_bottom a:hover
{
	text-decoration:underline;
}
span#loginError
{
	color:red;
	}
