@charset "utf-8";
/* CSS Document */
#menu{
	width:975px;
	height:62px;
	float:left;
	background:#333;
	padding:5px 0px 0px 5px;
}
#menu .link_con{
	height:30px;
	display:block;
	float:left;
	padding:6px 15px 0px 15px;
	text-decoration:none;
	color:#000;
	font-size:12px;
	text-align:center;
	background:#8CC63F;
	margin-right:6px;
}
#menu .link_con:hover{
	background:#fff;
	color:#275291;
}
#menu .link_con a:active{
	background:#fff;
	color:#275291;
}
#menu .link_con .link_name{
	display:block;
	left:left;
}
#services span{
	margin-top:3px;
}
#parts span{
	margin-top:10px;
}
#left #horizontal_menu{
	width:144px;
	height:502px;
	float:left;
	border:1px solid #ccc;
	margin:10px 0px 0px 0px;
}
#left #horizontal_menu img{
	float:left;
	margin-right:10px;
}
#left #horizontal_menu .link_con{
	width:144px;
	height:33px;
	float:left;
}
#left #horizontal_menu .link_con a{
	width:124px;
	height:43px;
	display:block;
	float:left;
	font-size:13px;
	text-decoration:none;
	padding:10px 10px 0px 10px;
	color:#4d4d4d;
}
#left #horizontal_menu .link_con a:hover{
	border:5px solid #ccc;
	width:124px;
	height:39px;
	color:#275291;
	padding:5px 5px 0px 5px;
}
#left #horizontal_menu .link_con a:active{
	border:5px solid #ccc;
	width:124px;
	height:39px;
	color:#275291;
	padding:5px 5px 0px 5px;
}
#left #horizontal_menu .link_name{
	display:block;
	float:left;
	margin-top:7px;
}
#travels{
	border-bottom:1px solid #ccc;
}
#fuel{
	border-bottom:1px solid #ccc;
}
#repairs{
	border-bottom:1px solid #ccc;
}
#accidents{}