.postmessage_boxCon{
	float:left;
	width:635px;
	position: relative;
	top: 0px;
	left: 0px;

	border: 1px solid #c4c4c4;
}
.postmessage_boxCon a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
	padding-right:10px;
}
.postmessage_boxCon a:hover{
	text-decoration:underline;
}
.postmessage_boxCon .userImg {
	width:60px;
	heigth:120px;
	margin:0px 5px;
	float:left;
}
.postmessage_boxCon .centralBox {
	float:left;
	width:360px;
	overflow:hidden;
}

.pastorTitle {
	width:100%;
	float:left;
	font-weight:bold;
	color:#5F497A;
	font-size:14px;
	position:relative;
}
.pastorTitle div.pastorName {
	width:300px;
}
.pastorTitle div.pastorTitle {
	width:300px;
}
.pastorTitle div.pastorName,
.pastorTitle img {
	float:left;
}
.pastorTitle div.date {
	position:absolute;
	right:0px;
	top:16px;
}

.postCon_box .name{
	float:left;
	color:#5480C4;
}
.postmessage_boxCon .dataora{
	position: absolute;
	right: 5px;
	top: 5px;
	color:#666;
	font-size: 11px;
	float: left;
}
.postmessage_boxCon .centralBox .message_text{
	clear:both;
	width:570px;
}

.postmessage_boxCon .countryBox {
	width:200px;
	overflow:hidden;
	float:left;
}
.postmessage_boxCon .countryBox div,
.postmessage_boxCon .countryBox img {
	clear:both;
}

.linkSet {
	clear:both;
}

#commentsSet {
	margin-bottom:10px;
}
div.newReply {
	width:200px;
	height:20px;
	border:1px solid #5497E1;
	background-color:#DEE6F3;
	color:#1E3550;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:12px;
	/*font-weight:bold;*/
}
div.newReply:hover {
	border:1px solid #FFF000;
	background-color:#1E3550;
	color:#DEE6F3;
	cursor:pointer;
}
div.newReply img,
div.newReply div {
	float:left;
}
div.newReply div {
	margin-left:5px;
}

.newReplyBox {

}
.newReplyBox .replyTitle {
	clear:both;
	font-weight:bold;
	margin-left:10px;
	position:relative;
}
.newReplyBox textarea {
	width:600px;
	height:60px;
	border:1px solid #ccc;
	margin-left:10px;
	font-family:arial;
	font-size:12px;
}

div.sendMessage {
	width:150px;
	height:20px;
	background-image:url("../images/button.png");
	background-repeat:repeat-x;
	padding-left:30px;
	padding-top:2px;
	margin-top:3px;
	color:#FFF000;
	font-weight:bold;
}
.newReplyBox div.sendMessage {
	margin-left:430px;
}
.newCommentBox div.sendMessage {
	margin-left:460px;
}
div.sendMessage:hover {
	cursor:pointer;
}
div.newComment {
	width:200px;
	height:20px;
	border:1px solid #5497E1;
	background-color:#DEE6F3;
	color:#1E3550;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	font-size:12px;
}
div.newComment:hover {
	border:1px solid #FFF000;
	background-color:#1E3550;
	color:#DEE6F3;
	cursor:pointer;
}
div.newComment img,
div.newComment div {
	float:left;
}
div.newComment div {
	margin-left:5px;
}
.newCommentBox .commentTitle {
	clear:both;
	font-weight:bold;
	margin-left:10px;
}
div.newCommentBox textarea {
	width:628px;
	height:60px;
	border:1px solid #ccc;
	margin-left:10px;
	font-family:arial;
	font-size:12px;
}

.commentItem {
	width:635px;
	float:left;
	position:relative;
}

img.userLocation {
	width:200px;
	height:100px;
}
#countryWBBN {
    color: #5480C4;
    display: block;
    text-decoration: none;
}
.countrynews{
	float:left;
	width:64px;
	height:75px;
	border:1px solid #999;
	margin-bottom:5px;
}
#countryWBBN div{
	float:left;
}
#countryWBBN:hover {
	text-decoration: underline;
}