[name=partNbr] {
	width:80px;
}
[name=partDescription] {
	width:200px;
}
[name=cost] {
	width:100px;
}
[name=qty] {
	width:60px;
}
[name=toBeChangedMany] {
	width:40px;
}
[name=notes] {
	width:690px;
}