[name=name],
[name=surname] {
	width:210px;
}
[name=gender] {
	width:100px;
}
[name=maritalStatus] {
	width:100px;
}
[name=city] {
	width:300px;
}
[name=citizenship] {
	width:300px;
}
[name=occupation] {
	width:200px;
}
[name=pobox] {
	width:100px;
}