[name=vehicle] {
	width:400px;
}
[name=odometer] {
	width:100px;
}
[name=internalRefNbr] {
	width:100px;
}
[name=vendor] {
	width:300px;
}
[name=docNumber] {
	width:100px;
}
[name=repairTotal] {
	width:100px;
}

[name=notes] {
	width:690px;
}
#repairRows {
	width:765px;
}
div.repairDetail {
	overflow:hidden;
	border:1px solid black;
	margin-bottom:10px;
}
div.repairDetail [name^=operationType] {
	width:180px;
}
div.repairDetail [name^=description] {
	width:180px;
}
div.repairDetail [name^=rnotes] {
	width:690px;
}
[name^=rnotes] {
	width:690px;
}
div.repairDetail [name^=repairQty],
div.repairDetail [name^=partQty] {
	width:40px;
}
div.repairDetail [name^=repairUnitCost],
div.repairDetail [name^=partUnitCost] {
	width:80px;
}
div.repairDetail [name^=part] {
	width:150px;
}

div.repairDetail [name^=rowTotal] {
	width:150px;
}