table.reportList {
	width:980px;
	margin:40px auto;
	font-family:arial, sans-serif;
	font-size:12px;
}
table td {
	padding:3px;
}
table.reportList thead {
	background-color:#265291;
	color:#FFFFFF;
	font-weight:bold;
}
table.reportList tbody tr.even {
	background-color:#E3E3E3;
}