@charset "utf-8";
/* CSS Document */
#main #tabs{
	width:809px;
	height:33px;
	float:left;
	padding-left:8px;
	margin-top:10px;
	position:relative;
}
#main #tabs a{
	width:83px;
	height:25px;
	display:block;
	float:left;
	border:1px solid #666;
	/*border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #666;*/
	background:#ccc;
	margin-right:6px;
	color:#666;
	text-decoration:none;
	text-align:center;
	padding-top:7px;
	position:absolute;
	border-bottom:none;
}
#main #tabs a:hover{
	height:26px;
	background:#fff;
	color:#275291;
	overflow:visible;
}
#main #tabs a:active{
	height:26px;
	background:#fff;
	color:#275291;
	overflow:visible;
}
#main1{
	top:0px;
	left:8px;
}
#travels1{
	top:0px;
	left:99px;
}
#services{
	top:0px;
	left:190px;
}
#fuel1{
	top:0px;
	left:281px;
}
#accidents1{
	top:0px;
	left:372px;
}
.bookedColor{
background:#FFFF00; 
}
.confColor{
background:#FF4500; 
}
.dispColor{
background:#32CD32; 
}

.brknColor{
background:#104E8B; 
}

.repairColor{
background:#838B8B; 
}
.mntnceColor{
background:#7AC5CD; 
}
.soldColor{
background:#424242; 
}
