[name=vehicle] {
	width:400px;
}
[name=driver] {
	width:300px;
}
[name=odometer] {
	width:100px;
}
[name=fromCity], [name=toCity] {
	width:200px;
}
[name=travelStatus] {
	width:200px;
}
[name=notes]{
	width:732px;
}
[name=tnotes]{
	width:732px;
}
.rowDetail [name^=fCity], .rowDetail [name^=tCity] {
	width:180px;
}
.rowDetail [name^=odometer] {
	width:60px;
}
.rowDetail [name^=tnotes] {
	width:500px;
}
.rowDetail {
	border:1px solid black;
	overflow:hidden;
}