@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../images/body1_bg.jpg) repeat-x #fff;
}
#header{
	width:980px;
	height:115px;
	margin:auto;
}
#header .logo{
	float:left;
	margin-left:10px;
}
#header .dove{
	float:left;
	position:relative;
	z-index:0px;
}
#header form{
	width:296px;
	float:left;
	margin-top:78px;
}
#header form label{
	font-size:12px;
	color:#fff;
	display:block;
	height:17px;
	float:left;
	margin:5px 10px 0px 0px;
}
#header form input[type=text]{
	width:194px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	border:1px solid #ccc;
	margin:0px 5px 0px 0px;
	padding:0px 3px;
	float:left;
}
#header form input[type=submit]{
	width:25px;
	height:24px;
	background:url(../images/search_icon.png) no-repeat;
	color:#0F243E;
	font-size:13px;
	float:left;
	border:0px;
	float:left;
}
#header form input[type=submit]:hover{
	cursor:pointer;
}
#container{
	width:980px;
	margin:auto;
	padding-top:20px;
	margin-bottom:30px;
	font-size:12px;
	color:#1E3550;
}
.clear{clear:both;}
#left{
	width:323px;
	float:left;
	padding-left:10px;
}
#left .profileCon{
	width:323px;
	float:left;
}
.profileCon .editpro{
	width:105px;
	float:left;
}
#left .details div{
	height:22px;
}
.profileCon .profile_pic{
	width:105px;
	height:105px;
	float:left;
	border:1px solid #ccc;
}
.profileCon .details{
	width:206px;
	float:left;
	margin-left:10px;
}
.profileCon .details .nameCon{
	float:left;
	width:206px;
}
.profileCon .details .nameCon div{
	float:left;
}
.profileCon .details .sexCon{
	float:left;
	width:206px;
}
.profileCon .details .sexCon div{
	float:left;
}
.profileCon .details .dobCon{
	float:left;
	width:206px;
}
.profileCon .details .dobCon div{
	float:left;
}
.profileCon .details .poboxCon{
	float:left;
	width:206px;
}
.profileCon .details .poboxCon div{
	float:left;
}
.profileCon .details .emailCon{
	float:left;
	width:206px;
}
.profileCon .details .emailCon div{
	float:left;
}
.profileCon .details .mobileCon{
	float:left;
	width:206px;
}
.profileCon .details .mobileCon div{
	float:left;
}
.profileCon .details .languagesCon{
	float:left;
	width:206px;
}
.profileCon .details .languagesCon div{
	float:left;
}
.profileCon .details .occupationCon{
	float:left;
}
.profileCon .details .occupationCon div{
	float:left;
}
.profileCon .details .countryCon{
	float:left;
	width:206px;
}
.profileCon .details .countryCon div{
	float:left;
}
.profileCon .details .countryCon img{
	float:left;
}
.profileCon .details .countryCon .country_flag{margin:0px 5px}
.profileCon .editCon{
	width:105px;
	float:left;
	margin-top:5px;
}
.profileCon .editCon a{
	float:left;
	display:block;
	width:105px;
	text-decoration:none;
	color:#5480C4;
	height:19px;
}
.profileCon .editCon a:hover{
	text-decoration:underline;
}
.profileCon .editCon .logout{
	font-weight:bold;
}
#left .numberofblessings{
	width:210px;
	float:left;
	color:#5480C4;
	margin-top:10px;
}
#left .numberofblessings img{
	float:left;
}
#left .numberofblessings div{
	float:left;
	width:180px;
	font-weight:bold;
	font-size:14px;
	margin-left:5px;
}
#left .numberofblessings .date{
	float:right;
	width:75px;
	font-size:12px;
}
#left .linksCon{
	width:260px;
	float:left;
	border-bottom:1px solid #ccc;
	height:70px;
}
#left .linksCon a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
	font-weight:bold;
}
#left .linksCon a:hover{
	text-decoration:underline;
}
#left .linksCon img{
	float:left;
}
#left .linksCon .messageimg{
	margin:9px 5px 0px 10px;
}
#left .linksCon .blackdove{margin:0px 0px 0px 0px;}
#left .linksCon .first{margin:11px 0px 0px 5px;}
#left .linksCon .second{margin:11px 0px 0px 0px;}
#left .linksCon div{
	float:left;
}
#left .salvationCon{
	width:323px;
	float:left;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}
.salvationCon .salvationslogan{
	float:left;
	margin-bottom:10px;
}
.prayericon{float:left; margin-right:5px;}
.salvationCon .title{
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#5480C4;
	width:300px;
}
.salvationCon input[type=submit]{
	width:217px;
	height:22px;
	float:left;
	background:url(../images/button.png) no-repeat;
	color:#fff;
	border:0px;
	font-size:12px;
	padding-bottom:5px;
}
.salvationCon .one{
	padding-left:31px;
	margin-top:5px;
}
.salvationCon .two{
	padding-left:25px;
}
.salvationCon .text{
	float:left;
	text-align:justify;
	width:320px;
}
#left .notificationsCon{
	width:323px;
	float:left;
	color:#5480C4;
	border-bottom:1px solid #ccc;
}
.notificationsCon .title{
	float:left;
	width:323px;
	font-weight:bold;
	font-size:14px;
}
.notificationsCon .title img{
	float:left;
}
.notificationsCon .title div{
	float:left;
	margin:5px 0px 0px 5px;
}
.notificationsCon .notificationBox{
	width:323px;
	float:left;
	margin-bottom:10px;
}
.notificationBox .notimage{
	float:left;
}
.notificationBox .text{
	float:left;
}
.notificationBox .text a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
}
.notificationBox .text a img{
	margin-top:2px;
}
.notificationBox .text a:hover{
	text-decoration:underline;
}
.notificationBox .text span{
	color:#1E3550
}

#left .weddingCon{
	width:323px;
	float:left;
	color:#5480C4;
	border-bottom:1px solid #ccc;
}
.weddingCon .title{
	float:left;
	width:323px;
	font-weight:bold;
	font-size:14px;
}
.weddingCon .title img{
	float:left;
}
.weddingCon .title div{
	float:left;
	margin:5px 0px 0px 5px;
}
.weddingCon .weddingBox{
	width:323px;
	float:left;
	margin-bottom:10px;
	color:#0F243E;
}
.weddingBox div{
	width:323px;
	float:left;
}
.weddingBox .text a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
}
.weddingBox .text a img{
	margin-top:2px;
}
.weddingBox .text a:hover{
	text-decoration:underline;
}
.weddingBox input[type=submit]{
	width:95px;
	height:24px;
	float:left;
	background:url(../images/button1.png) no-repeat;
	color:#0F243E;
	border:0px;
	font-size:12px;
	padding-bottom:5px;
	margin:3px 0px;
}
.weddingBox input[type=submit]:hover{
	cursor:pointer;
}
#main{
	width:637px;
	float:left;
	padding-left:5px;
}
#main .dailyposts{
	width:637px;
	float:left;
	font-weight:bold;
	font-size:14px;
	color:#5480C4;
}
#main form{
	width:637px;
	float:left;
	margin-bottom:10px;
}
#main form input[type=text]{
	/*width:625px;
	height:30px;*/
	border:1px solid #ccc;
	margin:0px 5px 0px 0px;
	padding:0px 3px;
	float:left;
}
/* steve*/
#main.boxfield{
	float:left;
	margin:5px 10px 10px 5px;
}
#main form .boxfield label{
	font-size:12px;
	color:#0F243E;
	display:block;
	height:17px;
}
#main .boxfield input[type=text],
#main .boxfield input[type=password]{
	height:20px;
	line-height:20px;
	vertical-align:middle;
	border:1px solid #ccc;
}
#main .boxfield select {
	height:24px;
	border:1px solid #ccc;
}
._fDate {
	width:80px;
}
._fEmail {
	width:250px;
}
._fCountry {
	width:300px;
}
._fPhoneNumber {
	width:150px;
}
[name=name],
[name=surname] {
	width:210px;
}
[name=gender] {
	width:100px;
}
[name=maritalStatus] {
	width:100px;
}
[name=city] {
	width:90px;
}
[name=citizenship] {
	width:300px;
}
[name=occupation] {
	width:200px;
}
[name=pobox] {
	width:100px;
}
/*end steve*/
#main form input[type=submit]{
	color:#5480C4;
	font-size:12px;
	float:left;
	border:0px;
	float:left;
	background:none;
}
#main form input[type=submit]:hover{
	cursor:pointer;
	text-decoration:underline;
}
#main .pastorsmessage_box{
	width:637px;
	float:left;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	margin-bottom: 20px;
}
.pastorsmessage_box .pastormain{
	float:left;
	border:1px solid #999;
	margin-right:5px;
}
.pastorsmessage_box .message_boxCon{
	float:left;
	width:500px;
}
.message_boxCon .title{
	width:500px;
	float:left;
	font-weight:bold;
	color:#5F497A;
	font-size:14px;
	position: relative;
	top: 0;
	left: 0;
}
.title .bible{
	float:left;
	margin-right:5px;
}
.title .pastorlogo{
	float:left;
	margin:0px 10px 10px 0px;
}
/*
.title div{
	float:left;
}
*/
.title .date{
	float:left;
	position: absolute;
	right: 0px;
}
.message_boxCon .message_text{
	width:495px;
	float:left;
	text-align:justify;
}
#main .postCon_box{
	width:637px;
	float:left;
	border-bottom:1px solid #ccc;
	padding:10px 0px;
}
#main .postCon_box .postimg{
	float:left;
	border:1px solid #999;
	margin-right:5px;
}
/*
.postCon_box .name{
	float:left;
	color:#5480C4;
	font-weight:bold;
}
.postCon_box .name img{
	margin:0px 5px;
}
*/
/*
.postmessage_boxCon{
	float:left;
	width:570px;
	position: relative;
	top: 0px;
	left: 0px;
}
.postmessage_boxCon a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
	padding-right:10px;
}
.postmessage_boxCon a:hover{
	text-decoration:underline;
}
.postmessage_boxCon .message_text{
	float:left;
	width:570px;
}
*/
#main .commentCon_box{
	width:626px;
	float:left;
	padding:10px 0px;
	margin:10px 0px 5px 11px;
	background:#DEE6F3;
	position:relative;
	top: 0;
	left:0;
}
.commentCon_box .postimg{
	float:left;
	border:1px solid #999;
	margin:0px 5px;
}
.commentCon_box .comment_boxCon{
	float: left;
    width: 557px;
}
.comment_boxCon .name{
	float:left;
	color:#5480C4;
	font-weight:bold;
}
.comment_boxCon .name img{
	margin:0px 5px;
}
.comment_boxCon .message_text{
	width:557px;
	float:left;
}
.comment_boxCon a{
	display:block;
	float:left;
	text-decoration:none;
	color:#5480C4;
	padding-right:10px;
}
.comment_boxCon a:hover{
	text-decoration:underline;
}
#footer{
	width:980px;
	height:30px;
	margin:auto;
	border-top:1px solid #ccc;
	padding-bottom:10px;
}
#footer .linksCon{
	width:900px;
	margin-left:40px;
	float:left;
}
#footer a{
	display:block;
	float:left;
	text-decoration:none;
	color:#0F243E;
	padding:0px 20px;
}
#footer a:hover{
	text-decoration:underline;
}
/*
.dataora{
	position: absolute;
	right: 5px;
	top: 5px;
	color:#666;
	font-size: 11px;}
*/
.datecoment{
	color:#446BA6;
	}

#sendsave{
	width: 187px;
	height: 19px;
	background-image: url(../images/button.png);
	margin-top: 30px;
	color:#FF9;
	padding-left: 30px;
	padding-top: 3px;}

#wBBNews {
                width:323px;
                float:left;
                border-bottom:1px solid #CCCCCC;
}
#wBBNews #title {
                width:313px;
                font-size:14px;
                background-color:#FFFF80;
                color:#800000;
                font-weight:bold;
                padding:5px;
}
#wBBNews .newsItem {
                padding-top:3px;
}
#wBBNews .newsItem .newsFrom div{
                width:200px;
                float:left;
}
#wBBNews .newsItem .newsFrom img{
                float:left;
}
#wBBNews .newsItem .newsTitle {
                clear:both;
                margin-top:3px;
                font-weight:bold;
}
#wBBNews .newsItem .newsText {
                font-style:italic;
                font-size:11px;
}
.boxfield {
		float:left;
		margin:5px 10px 10px 5px;
}
