[name=code] {
	width:100px;
}
[name=vendorName] {
	width:250px;
}
[name=address] {
	width:300px;
}
[name=city] {
	width:200px;
}
[name=zip] {
	width:50px;
}
[name=country] {
	width:200px;
}
[name=notes] {
	width:690px;
}