/*Blue #0488cd */
.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info .ch-info-back {
    background: #0488cd;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
	background-color: #1B2141;
	color: #fff;
}

.spinner {
    border-top-color: #2EAEF0;
}

.hero {
    border-left-color: #0488cd;
}

#options li a.selected {
	border: 1px solid #0488cd;
}

.ie8 .btn-color, .ie9 .btn-color {
	background: #0488cd !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: #2eaef0 !important;
}

.btn-color:hover, .subscribe-btn:hover {
	background: -webkit-linear-gradient(#0488cd,#2eaef0);
	background: -moz-linear-gradient(#0488cd,#2eaef0);
	background: -o-linear-gradient(#0488cd,#2eaef0);
	background: -ms-linear-gradient(#0488cd,#2eaef0);
	background-color: #FFF;
}

.btn-color, .subscribe-btn {
	background: -webkit-linear-gradient(#2eaef0,#0488cd);
	background: -moz-linear-gradient(#2eaef0,#0488cd);
	background: -o-linear-gradient(#2eaef0,#0488cd);
	background: -ms-linear-gradient(#2eaef0,#0488cd);
	background: linear-gradient(#2eaef0,#0488cd);
	border: 1px solid #2f7295;

	-webkit-box-shadow: inset 0 1px 1px 0 #9fcee7, 0 2px 0 -1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px 0 #9fcee7, 0 2px 0 -1px rgba(0,0,0,0.2);
	cursor: pointer;
}


#current,.menu ul li a:hover,.menu ul>li:hover>a {
    border-bottom: 3px solid #0488cd;
}

ul.why li:before {
    background: #0488cd;
}

.menu ul ul {
    border-top: 3px solid #0488cd !important;
}

#horizontal-tabs ul.tabs li.current {
    border-top: 2px solid #0488cd;
}

#vertical-tabs ul.tabs li.current {
    border-left: 2px solid #0488cd;
}

.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	border-bottom-color:#0488cd;
}

a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active, .color {
    color: #0488cd;
}
