	<div id="logo"><img src="images/learners_permit_drivers_license.jpg" height="80px" width="80px" /></div>
        <div id="top_left">Logged as <strong>{$userdata.username}</strong></div>
        <div id="bottom_left">
        	<div id="account"><img src="images/profile.png" /><a href="index.php?cuser_edit&id={$userdata.id}">My Account</a></div>
            <div id="logout"> <img src="images/logout.png"  /><a href="core/do.logout.php">Logout</a></div>
 		 </div>
         <div id="navigation">
         {include file='box/menu.html'}
		</div>