{if $msg neq ""}
			{if $msg|strpos:'Error'===0 }
			
				<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Error!</strong> {$msg}.
				</div>
				
			{else} 
				 <div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Success!</strong>Your {$msg} was successful!!.
				</div>
			{/if}
		{/if}