 
         <!-- Content Start -->
         <div id="main">
            <!-- Title, Breadcrumb Start-->
            <div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row"></div>
               </div>
            </div>
            <!-- Title, Breadcrumb End-->
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
                        <h3 class="title">CPD Login</h3>
                        <p><img src="img/Datis-zimbabwe.fw.png" width="800" height="399"></p>
                        <div class="divider"></div>
                       
                     </div>
                     <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                        <div class="address widget">
                          <h3 class="title">Login</h3>
                           <ul class="contact-us">
                              <li>                              </li>
                           </ul>
                        </div>
                        <div class="contact-info widget">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <form class="form-horizontal" action="core/do.login.php" name="formLogin" method="post">
                            <label>Username: <span>*</span></label>
                            <input class="form-control" id="username" name="username" type="text" value="" required>
                         <p>&nbsp;</p>
                       
                            <p>
                              <label>Password: <span>*</span></label>
                              <input class="form-control" id="password" name="password" type="password" value="" required>
                            </p>
                         <p>
                              <input class="btn-small btn-color btn-pad" type="submit" name="login" id="login" value="Submit">
                              <input class="btn-small btn-color btn-pad" type="submit" name="register" id="register" value="Register">
                            </p>
                         <p>&nbsp;</p>
                       </form>
                    </div>
                  </div>
                  
               </div>
            </div>
            <!-- Main Content end-->
         </div>
         <!-- Content End -->
       