<link rel="stylesheet" type="text/css" href="css/menu.css"></link>


<ul>
    <li ><a href="#">User Management</a>
	<ul>
            <li class="menu"><a href="requirements.php">Application Requirements</a></li>
            <li class="menu"><a href="categorylist.php">Approved List Category</a></li>
            <li class="menu"><a href="fees.php">Prescribed Fees</a></li>
        </ul></li>
    <li ><a href="#">Booking Management </a>
        <ul class="menu">
            <li class="menu"><a href="regForm.php">Registration Form</a></li>
           
        </ul>
    </li>
    <li ><a href="#">Questions Management</a>
        <ul >
            <li ><a href="index.php?c=question_management">Manage Questions</a></li>
            <li ><a href="index.php?c=add_quest">Add New Question </a></li>
          
        </ul>
    </li>
    
</ul><br/><br/>