		<div id="logo"><img src="images/learners.jpg" height="100px" width="200px" /></div>
     
		{if $userdata.profile eq 'S'}
		<div id="top_left">Logged as <strong>{$userdata.username}</strong></div>
        <div id="bottom_left">
        	<div id="account"><img src="images/profile.png" /><a href="index.php?cuser_edit&id={$userdata.id}">My Account</a></div>
            <div id="logout"> <img src="images/logout.png"  /><a href="core/do.logout.php">Logout</a></div>
 		 </div>
       
        {else}  
		<div id="top_left"><a href="index.php?c=login">Login</a> </div>
		{/if}