<div class="pagination">
	<div class="text">Results: <strong>{$results}</strong> </div>
	{if $pages gt 1}
		<div class="paginationLeftBorder"></div>
		<div class="text"> Pages: </div>
	    {section name=index loop=$pageRange}
			{if $pageRange[index] eq $page}
			<div class="thisPage">{$pageRange[index]}</a>
			{else}
			<a href="index.php?c={$_ENGINE.content}&pg={$pageRange[index]}" class="otherPages">{$pageRange[index]}</a>
			{/if}
	    {/section}
		<div class="paginationRightBorder"></div>
	{/if}
</div>