<!-- left menu starts
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
					
					
					-->
{if $userdata.profile eq 'A' }
						<!--<li><a class="ajax-link" href="index.php"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li><a class="ajax-link" href="index.php?c=users&profile=S"><i class="icon-home"></i><span class="hidden-tablet"> Learners</span></a></li>-->
						<li><a class="ajax-link" href="index.php?c=question_management"><i class="icon-eye-open"></i><span class="hidden-tablet">Questions </span></a></li>
						<li><a class="ajax-link" href="index.php?c=volumes_management"><i class="icon-edit"></i><span class="hidden-tablet"> Volumes</span></a></li>
						
						<li><a class="ajax-link" href="index.php?c=Transaction"><i class="icon-font"></i><span class="hidden-tablet"> Transaction</span></a></li>
					
						<li><a class="ajax-link" href="typography.html"><i class="icon-font"></i><span class="hidden-tablet"> Help</span></a></li>
						
						<li><a class="ajax-link" href="index.php?c=users"><i class="icon-list-alt"></i><span class="hidden-tablet"> Users</span></a></li>
					{/if}
					

{if $userdata.profile eq 'S' }
						<li><a href="index.php?c=ce&id={$userdata.id}">CE Tracker</a></li>
                              
					
						<!--<li><a class="ajax-link" href="index.php"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li><a class="ajax-link" href="index.php?c=users&profile=S"><i class="icon-home"></i><span class="hidden-tablet"> Review Question</span></a></li>
						<li><a class="ajax-link" href="index.php?c=question_management"><i class="icon-eye-open"></i><span class="hidden-tablet">Questions </span></a></li>-->
						<li><a class="ajax-link" href="index.php?c=volumes_management"><i class="icon-edit"></i><span class="hidden-tablet"> Volumes</span></a></li>
						
						
					<!--	<li><a class="nav-header hidden-tablet">System</a></li>
						<li><a class="ajax-link" href="typography.html"><i class="icon-font"></i><span class="hidden-tablet"> Help</span></a></li>
						<li><a class="ajax-link" href="gallery.html"><i class="icon-picture"></i><span class="hidden-tablet"> Info</span></a></li>
						<li><a class="ajax-link" href="file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
						<li><a href="tour.html"><i class="icon-globe"></i><span class="hidden-tablet"> Tour</span></a></li>-->
						
					{/if}
					<li><a class="ajax-link" href="index.php?c=change"><i class="icon-list-alt"></i><span class="hidden-tablet"> Change Password</span></a></li>
				<!--	<label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div>/.well -->
			<!--</div>/span-->
			<!-- left menu ends -->