<div class="commentCon_box">
	<div class="dataora datecoment">{$data.datetime}</div>
		<img src="images/user.jpg" class="postimg profileimg" />
		<div class="comment_boxCon">
		<div class="title">
			<div class="name">{$data.name} {$data.surname}</div>
		</div>
		<div class="message_text">{$data.message}</div>
		<a href="#" class="numberofcomments">2 Comments</a>
		<a href="#" class="comment">Comment</a>
		<a href="#" class="sendemail">Send email of blessing</a>
	</div>
</div>