<!-- The styles -->
	<link id="bs-css" href="css/bootstrap-cerulean.css" rel="stylesheet">
	<style type="textcss">
	{literal}  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }{/literal}
	</style>

	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/charisma-app.css" rel="stylesheet">
	<link href="css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<link href='css/fullcalendar.css' rel='stylesheet'>
	<link href='css/fullcalendar.print.css' rel='stylesheet'  media='print'>
	<link href='css/chosen.css' rel='stylesheet'>
	<link href='css/uniform.default.css' rel='stylesheet'>
	<link href='css/colorbox.css' rel='stylesheet'>
	<link href='css/jquery.cleditor.css' rel='stylesheet'>
	<link href='css/jquery.noty.css' rel='stylesheet'>
	<link href='css/noty_theme_default.css' rel='stylesheet'>
	<link href='css/elfinder.min.css' rel='stylesheet'>
	<link href='css/elfinder.theme.css' rel='stylesheet'>
	<link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
	<link href='css/opa-icons.css' rel='stylesheet'>
	<link href='css/uploadify.css' rel='stylesheet'>
	{literal}
		<script type="text/javascript" src="libs/jquery/jquery.js"></script>
		<script type="text/javascript" src="js/core.js"></script>
		<script type="text/javascript" src="js/initPage.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	{/literal}
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- The fav icon -->
	<link rel="shortcut icon" href="img/favicon.ico">
<title>DaTIS Continuing Professional Development & Education System</title>		
</head>

<body>
		<!-- topbar starts -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <img alt="Charisma Logo" src="img/logo20.png" /> <span>DaTIS</span></a>
				
				<!-- theme selector starts -->
				<!--<div class="btn-group pull-right theme-container" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-tint"></i><span class="hidden-phone"> Change Theme / Skin</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" id="themes">
						<li><a data-value="classic" href="#"><i class="icon-blank"></i> Classic</a></li>
						<li><a data-value="cerulean" href="#"><i class="icon-blank"></i> Cerulean</a></li>
						<li><a data-value="cyborg" href="#"><i class="icon-blank"></i> Cyborg</a></li>
						<li><a data-value="redy" href="#"><i class="icon-blank"></i> Redy</a></li>
						<li><a data-value="journal" href="#"><i class="icon-blank"></i> Journal</a></li>
						<li><a data-value="simplex" href="#"><i class="icon-blank"></i> Simplex</a></li>
						<li><a data-value="slate" href="#"><i class="icon-blank"></i> Slate</a></li>
						<li><a data-value="spacelab" href="#"><i class="icon-blank"></i> Spacelab</a></li>
						<li><a data-value="united" href="#"><i class="icon-blank"></i> United</a></li>
					</ul>
				</div>-->
				<!-- theme selector ends -->
				
				<!-- user dropdown starts -->
				<div class="btn-group pull-right" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone">{$userdata.username}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="index.php?c=users&id={$userdata.id}">Profile</a></li>
						<li class="divider"></li>
						<li><a href="core/do.logout.php">Logout</a></li>
						   
					</ul>
				</div>
				<!-- user dropdown ends -->
				
				<div class="top-nav nav-collapse">
					<ul class="nav">
						<li><a href="index.php">Visit Site</a></li>
					
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<!-- topbar ends -->


	    {include file=$page_content}



	<!-- external javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
{literal}
	<!-- jQuery -->
	<script src="jss/jquery-1.7.2.min.js"></script>
	<!-- jQuery UI -->
	<script src="jss/jquery-ui-1.8.21.custom.min.js"></script>
	<!-- transition / effect library -->
	<script src="jss/bootstrap-transition.js"></script>
	<!-- alert enhancer library -->
	<script src="jss/bootstrap-alert.js"></script>
	<!-- modal / dialog library -->
	<script src="jss/bootstrap-modal.js"></script>
	<!-- custom dropdown library -->
	<script src="jss/bootstrap-dropdown.js"></script>
	<!-- scrolspy library -->
	<script src="jss/bootstrap-scrollspy.js"></script>
	<!-- library for creating tabs -->
	<script src="jss/bootstrap-tab.js"></script>
	<!-- library for advanced tooltip -->
	<script src="jss/bootstrap-tooltip.js"></script>
	<!-- popover effect library -->
	<script src="jss/bootstrap-popover.js"></script>
	<!-- button enhancer library -->
	<script src="jss/bootstrap-button.js"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="jss/bootstrap-collapse.js"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="jss/bootstrap-carousel.js"></script>
	<!-- autocomplete library -->
	<script src="jss/bootstrap-typeahead.js"></script>
	<!-- tour library -->
	<script src="jss/bootstrap-tour.js"></script>
	<!-- library for cookie management -->
	<script src="jss/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<script src='jss/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='jss/jquery.dataTables.min.js'></script>

	<!-- chart libraries start -->
	<script src="jss/excanvas.js"></script>
	<script src="jss/jquery.flot.min.js"></script>
	<script src="jss/jquery.flot.pie.min.js"></script>
	<script src="jss/jquery.flot.stack.js"></script>
	<script src="jss/jquery.flot.resize.min.js"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="jss/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="jss/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="jss/jquery.colorbox.min.js"></script>
	<!-- rich text editor library -->
	<script src="jss/jquery.cleditor.min.js"></script>
	<!-- notification plugin -->
	<script src="jss/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="jss/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="jss/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="jss/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="jss/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script src="jss/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="jss/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="jss/charisma.js"></script>
{/literal}	
		
</body>
</html>

