<div id="manage_bottom">
	<div class="box"><a href="index.php?c=case_new"> <img src="images/add_detail.png" /></a> Add Question</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>
<div id="top_con"><div id="page_title"> Questions</div>

 <table border="3" cellpadding="2" cellspacing="6" width=600 bgcolor="#FFFFFF">
    <tr>
        <td bgcolor="#004080" align="center"><font
        color="#FFFFFF" size="2" face="Verdana"><strong>Question Management</strong></font>
        </td>
    </tr>
	
  <tr>	<td bgcolor="#004080" align="center">
  
     <table style="border-collapse:collapse">
				<thead>
					<tr class="odd">
					<th ></th>
						<th>Question type</th>
						<th >Question</th>
						
						
		
	</tr>
	</thead>
	<tbody>
	
	{section name=question loop=$question}
<tr class="even" >
	
	<td><input type="radio" name="question" id="{$question[question].id}"></td>
	<td>{$question[question].section}</td>
	<td onClick="window.location='detail.php?op=U&id={$question[question].id}'">{$question[question].question}</td>
	
</tr>
{/section}
</tbody>
</table>
</td>
    </tr>
</tbody>
  </table>
</div>



