<script type="text/javascript" language="javascript">
    {literal}
    function listvalue(id){
        var w= document.myform.listName.selectedIndex;
        var selectedtext= document.myform.listName.options[w].text;
        $('#listname').val(selectedtext);
        $('#test').val(id);
    };
    {/literal}
</script>
<div id="manage_bottom">
	<div class="box"><a href="#"> <img src="images/add_detail.png" /></a> Add Detail</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/nanage.png" /></a> Manage Details</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>
<div id="main">
<form action="do.business.php?op={$_ENGINE.operation}&id={$user.id}&list_name={$smarty.get.list_name}" method="post" id="userForm"  name="myform" class="detailForm">
	<div id="content">
	
		<div id="top_con"><div id="page_title"> news Detail</div>
				<a href="#">Save</a>
				<a href="index.php?c=business_list">Exit</a>
			</div>

    
       <div class="form"> 
            <div class="fieldbox">
                <label>List Value</label>
                <input type="text" class="large tour_guide destination_input" value="{$user.list_value}" name="list_value" id="us_name" maxlength="6" />
            </div>
            <div class="fieldbox">
                <label>List Label</label>
                <input type="hidden" class="large" value="en" name="language" maxlength="80" />
                <input type="hidden"  class="large" value="{$user.list_id}" name="list_id" maxlength="30" id ="test" />
                <input type="hidden" class="large" value="{$user.list}" name="list_name" maxlength="6" id="listname" />
                <input type="text"  value="{$user.list_label}" name="list_label" id="it" maxlength="255" _fChecks="mandatory" class="destination_input">	

            </div>
            
       

		</div>
	</div>
 	<div class="div_box">
        	<input type="submit" name="submit" value="Submit" />
        </div>

    </form>
	
	</div>