<div id="manage_bottom">
	<div class="box"><a href="#"> <img src="images/add_detail.png" /></a> Add Detail</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/nanage.png" /></a> Manage Details</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>
<div id="main">
<form action="do.case.php?op={$_ENGINE.operation}&id={$case.id}" method="post"  enctype="multipart/form-data">
	<div id="content">
	
		<div id="top_con"><div id="page_title"> news Detail</div>
				<a href="#">Save</a>
				<a href="index.php?c=case_list">Exit</a>
			</div>

<div class="form">
	{if $_ENGINE.operation eq 'I'}

	<div class="fieldbox">
	    <label>New Logo</label>  
		<input type="file" name="logo" id="logo" value="$case.logo"/>
	</div>
	{else}
	<div class="fieldbox">
		Current Logo<br />
		<div class="immagine_presente">
		 <img src="{$case.photoSmall}">
		  
		  <a href="">Rimuovi</a>
		</div>
		<div class="break"></div>
		    <label>New Picture</label>  
		<input type="file" name="logo" id="logo" value="$case.logo"/>
	</div>
	{/if}
	
	<div class="fieldbox">
	    <label>Customer Name</label>
	   <input type="text"  style="width: 255px"  name="customerName" id="customerName" class="destination_input" value="{$case.customerName}" />
	 
	</div>
	
	<div class="fieldbox">
	    <label>Market</label>
	    <select name="market" >
	    	<option value="">All</value>
	    	{html_options options=$lists.market selected=$case.market}
	    </select>
	</div>
	
	<div class="fieldbox">
	    <label>Description</label>
	    <textarea name="description" style="width: 460px" id="text">{$case.description}</textarea>
	</div>
	<div class="break"></div>
	<div class="fieldbox">
		 <label>Business Unit</label>
			<div class="boxfield" id="" >
				{html_checkboxes
					options=$fitype
					selected=$docType
					name='docType'
					separator=''}
			</div>
		</div>
		<div class="fieldbox">
		 <label>Services</label>
			<div class="boxfield" id="" >
				{html_checkboxes
					options=$services
					selected=$docType
					name='service'
					separator=''}
			</div>
		</div>
		
	

	


</div>

</div>
<div class="div_box">
        	<input type="submit" name="submit" value="Submit" />
        </div>

</form>
</div>