<!--<div class="tableFilter">
<form action="index.php?c=case_list" method="post">
	<div class="boxfield">
	    <label>Customer Name</label>
	    <input type="text" name="customerName"  value="{$filter.customerName}" />
	</div>

	
	<div class="break"></div>

	<input type="submit" value="Search" name="button" />

</div>-->
<div id="manage_bottom">
	<div class="box"><a href="index.php?c=case_new"> <img src="images/add_detail.png" /></a> Add Detail</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/nanage.png" /></a> Manage Details</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>
<div id="main">
<div id="content">
<div id="top_con"><div id="page_title"> Business Unit List</div>
<a href="#">Table</a>
</div>
<table class="table">
<thead>

	<th  width="368px">Logo</th>
	<th  width="653px">Customer Name</th>
	<th  width="562px">Action</th>
	
</thead>
<tbody>
{section name=list loop=$cases}
<tr>

	<td><img width="80" height="60"src="{$cases[list].photoSmall}" ></td>
	<td>{$cases[list].customerName}</td>

	<td>
		<a href="index.php?c=case_edit&id={$cases[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.case.php?op=S&id={$cases[list].id}" /><img src="images/icons/status{$cases[list].active}.png" /></a>
	</td>
</tr>
{/section}
</tbody>

</table>
{include file='box/pagination.htm'}
