<div class="container-fluid">
		<div class="row-fluid">

<div id="content" class="span10">
				
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-info-sign"></i> Issue Management</h2>

					</div>
					{include file='box/alert.htm'}
					<div class="box-content">

<table class="table table-striped table-bordered bootstrap-datatable datatable">
	<thead class="header_table">
				<th  width="2%">Issue ID</th>
				<th  width="52%">Title</th>
				<th  width="18%">Volume</th>
				<th  width="18%">Publish Date</th>	
				<!--<th >No. of images</th>-->
				
				<th  width="18%">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$issue}
<tr>

	<td>{$issue[list].iid}</td>
	<td><a href="index.php?c=issue_view&id={$issue[list].iid}">{$issue[list].Title} </a></td>
	<td>{$issue[list].name}</td>
	<td>{$issue[list].insTS}</td>
	<!--<td>
	{section name=listb loop=$images/img/bg-pl-top.gifs}
	{if $issue[list].id eq $images/img/bg-pl-top.gifs[listb].issue}
	<a href="index.php?c=images/img/bg-pl-top.gifs&vol={$issue[list].id}">{$images/img/bg-pl-top.gifs[listb].count}</a>
	{/if}
	{/section}
	</td>-->
	
	{if $userdata.profile eq S}
	
	{if in_array($issue[list].iid, $answered)}
	
{section name=record loop=$ans}

{if $ans[record].issue_no eq $issue[list].iid}
<td> <a href="index.php?c=results&id={$ans[record].id }" >Results</a></td>
{/if}
    <!--{foreach from=$ans[record] item=entry}
	
       {$entry}
    {/foreach}-->
 
{/section}
	

{else}
	<td> <a href="index.php?c=front&isu={$issue[list].iid}" >Take Exam</a></td>
	{/if}
	{/if}
	
	{if $userdata.profile eq A}
	<td>
		<a href="do.quest.php?op=D&id={$issue[list].iid}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
		<a href="index.php?c=new_issues&id={$issue[list].iid}" /><img src="images/icons/edit.png" /></a>
		<a href="do.quest.php?op=S&id={$issue[list].iid}" /><img src="images/icons/status{$issue[list].active}.png" />
		</a>
	</td>
	{/if}
</tr>
{/section}
</tbody>

</table>

</div>
				</div>
			</div>
</div>
{include file='box/pagination.htm'}

	{if $userdata.profile eq A}
<div class="btn-round"><a href="index.php?c=new_issues&op=I" class="btn btn-special btn-color pull-right"> Add Issue</a> </div>
{/if}
</div>
{include file='box/a_footer.htm'}
</div>