
<div id="main">
<form action="do.news.php?op={$_ENGINE.operation}&id={$new.id}" method="post"  enctype="multipart/form-data">
	<div id="content">
		<div id="top_con"><div id="page_title"> A&EI / CRF </div>
				
			</div>


	
	
	
	   <table class="table">
	<thead class="header_table">
				<th  width="368px">Item Code</th>
				<th  width="653px">Item Description</th>
				<th  width="562px">Unit Price</th>
				<th  width="562px">Quantity</th>
				<th  width="562px">Estimated Cost</th>
			
	</thead>
<tbody>
	<tr>	    
	 <td>  <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td>   
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	  <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td>  
	 <td>  <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	   </td>  
	  <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	</td>
</tr>

</tbody>
<tr>	    
	 <td> </td>   
	  <td> </td> 
	  <td> </td>  
	 <td> Total </td>  
	  <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" readonly/>
	</td>
</tr>
</table>

<a href="index.php?c=news_list"">New Item</a>

		   <table class="table">
		   <thead class="header_table">
				<th  width="368px"></th>
				<th  width="653px">Code</th>
				<th  width="562px">Description</th>
				
			
	</thead>
	
<tbody>
	<tr>	    
	 <td>  Fund Type </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Fund Source </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Authorisation </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 
	 <tr>	    
	 <td>  Organisation </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Treasury /Loc </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Objective </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td> Output </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Activity</td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Accounts </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>
	 <tr>	    
	 <td>  Sector </td>   
	 <td> <input type="text"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
	  </td> 
	  <td> <input type="text"  style="width: 255px"  name="title" id="title" value="{$new.title}" />
	    </td> 
	 </tr>

</tbody>

</table>
</form>