<!--<div class="tableFilter">
<form action="index.php?c=news_list" method="post">
	<div class="boxfield">
	    <label>Title/Text/Summary</label>
	    <input type="text" name="filter_tst"  value="{$filter.filter_tst}" />
	</div>

	
	<div class="break"></div>

	<input type="submit" value="Search" name="button" />
</form>
</div>-->
<div id="manage_bottom">
	<div class="box"><a href="index.php?c=news_new"> <img src="images/add_detail.png" /></a> Add Detail</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/nanage.png" /></a> Manage Details</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>
<div id="main">
<div id="content">
<div id="top_con"><div id="page_title"> Business Unit List</div>
<a href="#">Table</a>
</div>
<table class="table">
	<thead class="header_table">
				<th  width="368px">Title</th>
				<th  width="653px">Summary</th>
				<th  width="562px">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$news}
<tr>

	<td>{$news[list].title}</td>
	<td>{$news[list].summary}</td>

	<td>
	<input type="checkbox"  style="width: 100px"  name="title" id="title" value="{$new.title}" />
		<a href="index.php?c=news_edit&id={$news[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.news.php?op=S&id={$news[list].id}" /><img src="images/icons/status{$news[list].active}.png" />
		</a>
	</td>
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}
