<div class="container-fluid">
		<div class="row-fluid">

<div id="content" class="span10">
<div>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Quetions</a>
					</li>
				</ul>
			</div>
			
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-info-sign"></i> Questions Management</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">




<br><div><a href="index.php?c=mcq" class="list" ><img height="80px" width="80px" src="images/icons/exam.png" /><br>Multiple Choice Questions</a></div>
<br><div><a href="index.php?c=multiple_answers" class="list" ><img height="80px" width="80px" src="images/icons/questionmultselect_WEB_1.jpg" /><br>Multiple Solution Questions</a></div>
<br><div><a href="index.php?c=free_response" class="list" ><img height="80px" width="80px" src="images/icons/textedit.png" /><br>Free Response Questions</a></div>
<br><div><a href="index.php?c=true_false" class="list" ><img height="80px" width="80px" src="images/icons/True-False-Question.jpg" /><br>True Or False Questions</a></div>
<br><div><a href="index.php?c=order_question" class="list" ><img height="80px" width="80px" src="images/icons/traffic_light.jpg" /><br>Ordering Questions</a></div>



</div>
				</div>
			</div>
</div>
<!--{include file='box/pagination.htm'}-->
</div>
{include file='box/a_footer.htm'}
</div>