<!--<div id="manage_bottom">
	<div class="box"><a href="index.php?c=news_new"> <img src="images/add_detail.png" /></a> Add Detail</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/nanage.png" /></a> Manage Details</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>-->


<div class="container-fluid">
		<div class="row-fluid">

<div id="content" class="span10">

			
			
			
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-info-sign"></i> Questions Management</h2>
						
					</div>
					
					<div class="box-content">

<table class="table table-striped table-bordered bootstrap-datatable datatable">
	<thead class="header_table">
				<th  width="2%">Question ID</th>
				<th  width="72%">Question</th>
				<th  width="8%">Type</th>
				<th  width="18%">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$questions}
<tr>

	<td>{$questions[list].id}</td>
	<td>{$questions[list].question}</td>
	<td>{$questions[list].section}</td>
	<td>
		<a href="do.quest.php?op=D&id={$questions[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
		<a href="index.php?c=edit_mcq&id={$questions[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.quest.php?op=S&id={$questions[list].id}" /><img src="images/icons/status{$questions[list].active}.png" />
		</a>
	</td>
</tr>
{/section}
</tbody>

</table>
<div class="btn-round"><a href="index.php?c=mcq" class="btn btn-special btn-color pull-right"> Add New Question</a></div>
</div>
				</div>
			</div>
</div>
{include file='box/pagination.htm'}
</div>
{include file='box/a_footer.htm'}
</div>