		<div class="container-fluid">
		<div class="row-fluid">
				
		
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- content starts -->
			

			<div>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Users</a>
					</li>
				</ul>
			</div>
			
		<!--	<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-user"></i> Members</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Username</th>
								  <th>Last logged in</th>
								  <th>Role</th>
								  <th>Status</th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
						  {section name=list loop=$users}
							<tr>
								<td>{$users[list].username}</td>
								<td class="center">{$users[list].last_login}</td>
								<td class="center">{if $users[list].profile eq A}Administrator{elseif $users[list].profile eq S}Learner{/if}</td>
								<td class="center">
									<span class="label label-success"><a href="do.users.php?op=S&id={$users[list].id}" /><img src="images/icons/status{$users[list].active}.png"/></a></span>
								</td>
								<td class="center">
									<a class="btn btn-success" href="index.php?c=user_edit&id={$users[list].id}">
										<i class="icon-zoom-in icon-white"></i>  
										View                                            
									</a>
									<a class="btn btn-info" href="index.php?c=user_edit&id={$users[list].id}&op=U">
										<i class="icon-edit icon-white"></i>  
										Edit                                            
									</a>
									<a class="btn btn-danger" href="do.users.php?id={$users[list].id}&op=D">
										<i class="icon-trash icon-white"></i> 
										Delete
									</a>
								</td>
							</tr>
							
							{/section}
						

						  </tbody>
					  </table>            
					</div>
				</div><!--/span-- >
			
			</div><!--/row-->

			<div class="row-fluid sortable">
				<div class="box span6">
					<div class="box-header well" data-original-title>
						<h2>Members</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>Username</th>
									  <th>Date registered</th>
									  <th>Role</th>
									  <th>Status</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
							   {section name=list loop=$learners}
							<tr>
								<td>{$learners[list].username}</td>
								<td class="center">{$learners[list].last_login}</td>
								<td class="center">{if $learners[list].profile eq A}Administrator{elseif $learners[list].profile eq S}Learner{/if}</td>
								<td class="center">
									<span class="label label-success"><a href="do.users.php?op=S&id={$learners[list].id}" /><img src="images/icons/status{$learners[list].active}.png"/></a></span>
								</td>
								
							</tr>
							
							{/section}
							  
							                                     
							  </tbody>
						 </table>  
						    
					</div>
					<div class="btn-round"><a href="index.php?c=register&op=I&role=M" class="btn btn-special btn-color pull-right"> Add Member</a> </div>
				</div><!--/span-->
					
				<div class="box span6">
					<div class="box-header well" data-original-title>
						<h2>Administrators</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content ">
						<table class="table table-striped bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>Username</th>
									  <th>Date registered</th>
									  <th>Role</th>
									  <th>Status</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
							   {section name=list loop=$admin}
							<tr>
								<td>{$admin[list].username}</td>
								<td class="center">{$admin[list].last_login}</td>
								<td class="center">{if $admin[list].profile eq A}Administrator{elseif $admin[list].profile eq S}Learner{/if}</td>
								<td class="center">
									<span class="label label-success"><a href="do.users.php?op=S&id={$admin[list].id}" /><img src="images/icons/status{$admin[list].active}.png"/></a></span>
								</td>
								
							</tr>
							
							{/section}
								                                  
							  </tbody>
						 </table>  
						   
					</div>
					<div class="btn-round"><a href="index.php?c=register&op=I&role=A" class="btn btn-special btn-color pull-right"> Add Administrator</a> </div>
				</div><!--/span-->
			</div><!--/row-->
			
    
					<!-- content ends -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<hr>

		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>

		{include file='box/a_footer.htm'}
		
	</div><!--/.fluid-container-->


