<!--<div id="manage_bottom">
	<div class="box"><a href="index.php?c=news_new"> <img src="images/add_detail.png" /></a> Add Detail</div>
    <div class="box"><a href="#"> <img src="images/edit.png" /></a> Edit</div>
    <div class="box"><a href="#"> <img src="images/nanage.png" /></a> Manage Details</div>
    <div class="box"><a href="#"> <img src="images/delete.png"  /></a> Delete</div>
    </div>-->


<div class="container-fluid">
		<div class="row-fluid">

			<div id="content" class="span10">

						
						
						<div class="row-fluid">
							<div class="box span12">
								<div class="box-header well" data-original-title>
									<h2><i class="icon-info-sign"></i> Volume Management</h2>
									
								</div>
								<div class="box-content">

			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead class="header_table">
							<th  width="2%">Volume ID</th>
							<th  width="52%">Title</th>
							<th  >Points</th>
							<th  width="18%">Publish Date</th>	
							<th >No. of Issues</th>
						{if $userdata.profile eq A}
						<th  width="18%">Action</th>
						{/if}
						
				</thead>
			<tbody>
			{section name=list loop=$volume}

			<tr>

				<td>{$volume[list].id}</td>
				<td>{$volume[list].name} </td>
				<td>{$volume[list].points}</td>
				<td>{$volume[list].insTS}</td>
				<td>
				
				{assign var=count value=0}
				{assign var=ref value=0}
				
				{section name=listb loop=$issues}
				
				{if $volume[list].id eq $issues[listb].volume}
				{assign var=count value=$count+1}
				{assign var=ref value=$issues[listb].count}
				{/if}
				
				
				{/section}
				
				{if $count gt 0}
				<a href="index.php?c=issues&vol={$volume[list].id}">{$ref}</a>
				{elseif $userdata.profile eq A}
				<a href="index.php?c=new_issues&op=I">Add New issue</a>
				{elseif $userdata.profile eq S}
				Coming soon
				{/if}
				
				
				</td>
				{if $userdata.profile eq A}
				<td>
					<a href="do.quest.php?op=D&id={$volume[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
					<a href="index.php?c=vol&id={$volume[list].id}" /><img src="images/icons/edit.png" /></a>
					<a href="do.quest.php?op=S&id={$volume[list].id}" /><img src="images/icons/status{$volume[list].active}.png" />
					</a>
				</td>
				{/if}
			</tr>
			{/section}
			</tbody>

			</table>
			</div>
							</div>
						</div>
			</div>
			{include file='box/pagination.htm'}
			{if $userdata.profile eq A}
				<div class="btn-round"><a href="index.php?c=vol" class="btn btn-special btn-color pull-right"> Add Volume</a> </div>
				{/if}
		</div>
{include file='box/a_footer.htm'}
</div>