<div class="container-fluid">
		<div class="row-fluid">

<div id="content" class="span10">
<div>
				<ul class="breadcrumb">
					<li>
						<a href="index.php">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Volume</a>
					</li>
				</ul>
			</div>
			
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-info-sign"></i> Volume Management</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">

<script type="text/javascript" src="js/hide.js" ></script>
<div id="formpage_1" name="insert" style="visibility: visible; display: block; .."> 
  
 <form action="do_vol.php?op={$_ENGINE.operation}" method="post" enctype="multipart/form-data">

	  <div id="content">
        <fieldset class="manufacturer">
		<legend>Volume</legend>
		
		<div class="boxfield">
			 	Volume  Number :
			<input type="text" name="name" size="70" class="form-control" value="{$volume.0.name}" required/>
			 </div>
	        
			<div class="boxfield">
			 	Points:
			 <input type="text" name="points" size="70" class="form-control" value="{$volume.0.points}" required>
			 </div>
		
			 
        </fieldset>
		<br>
	    <input type="submit" value="Confirm" class="btn btn-special btn-color "/>
	    <input type="button" value="Cancel" class="btn btn-special btn-color " href="question_list.php" />
	 </div>
</form>

</div>
</div>
				</div>
			</div>
</div>
<!--{include file='box/pagination.htm'}-->
</div>
{include file='box/a_footer.htm'}
</div>