<form action="do.booking.php" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Bookings</legend>
			<table>
			
	        <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			<tr>
			<div class="boxfield">
			 	<td>Firstname: </td><td><input type="text" name="name" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			</tr>
			<tr>
			<div class="boxfield">
			 	<td>Intials:</td> <td><input type="text" name="intials" size="10" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			 <div class="boxfield">
			 	<td>Surname:</td> <td><input type="text" name="surname" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			  <tr>
			 <div class="boxfield">
			 	<td>National ID:</td> <td><input type="text" name="nationalId" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			<div class="boxfield">
			 	<td>Date Of Birth:</td><td> <input type="text" name="dob" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			 <div class="boxfield">
			 	<td>Gender:</td><td> <select  NAME="gender" required>
					<option VALUE="">--Select your Gender--</option>
					<option VALUE="F">Female</option>
					<option VALUE="M">Male</option>
					
				</select></td>
				
			 </div>
			 </tr>
			 <tr>
			  <div  class="boxfield">
				<td>Address: </td>	<td><input type="text" name="address1" size="70" value="{$match[0].match_time} " required/></td></tr>
				<tr><td></td>			<td><input type="text" name="address2" size="70" value="{$match[0].match_time} " required/></td></tr>
				<tr><td>	</td>		<td><input type="text" name="address3" size="70" value="{$match[0].match_time} " required/></td></tr>
				<tr><td>	</td>		<td><input type="text" name="address4" size="70" value="{$match[0].match_time} " required/></td>
			</div>
			 </tr>
			 			 <tr>
			<div class="boxfield">
			 	<td>Email:</td><td> <input type="text" name="email" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 
			 <tr>
			 
			  <div  class="boxfield">
				<td>Date: </td><td><input type="text" name="test_date" size="70" value="{$date}" readonly/></td>
			</div>
			 </tr>
			 <tr>
			 
			 <div  class="boxfield">
				<td>Session: </td><td><input type="text" name="session" size="70" value="{$match[0].match_time} " required/></td>
			</div>
			</tr>
			<tr>
			 <div  class="boxfield">
				<td>Class:</td><td> <select  NAME="class" required>
					<option VALUE="">--Select your Class--</option>
					<option VALUE="class 1">Class 1</option>
					<option VALUE="class 2">Class 2</option>
					<option VALUE="class 3">Class 3</option>
					<option VALUE="class 4">Class 4</option>
					<option VALUE="class 5">Class 5</option>
					
				</select></td>
			</div>
			</tr>
			</table>
			
		
        </fieldset>
		   
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="match_list.php" />
	</div>
</form>