<fieldset>
         <h3 class="title">CE Tracker</h3>
                        <table width="400px" class="table table-striped table-bordered" align="right">
                           <thead>
                              <tr>
                                 <th>Issue Title</th>
                                 <th>Date Taken</th>
                                 <th>Score</th>
                                 <th>Certificate</th>
                              </tr>
                           </thead><tbody>
						     {section name=list loop=$passes}
							<tr>
								<td>{$passes[list].Title}</td>
								<td class="center">{$passes[list].insTS}</td>
								
								<td class="center">
									{$passes[list].mark}
								</td>
								<td class="center">
									
									<a class="btn btn-danger" href="download_cert.php?record={$passes[list].record}">
										<i class="icon-trash icon-white"></i> 
										Download
									</a>
								</td>
							</tr>
							
							{/section}
						   
						   
                              
                           </tbody>
                        </table>
    <p>
      <strong>
        Your current CE score is.
      </strong>
    </p>
    <p>
      {$score}
    </p>
    <p>
     </fieldset>