   <h3 class="title">Password Change</h3>
	  <p><br><font color=red  >{$smarty.get.msg} </font></p>
<form action='password_update.php' method='POST'>
			<p><label>Old password:</label>    <input type='text' name='oldpassword' class="form-control"></p>
			
			<p><label> New password:</label> 	<input type='password' name='newpassword' class="form-control"></p>
			<p><label> Repeat new password:</label> 	<input type='password' name='repeatnewpassword' class="form-control"></p>
			<input type='submit' name='submit' value='Change Password' class="btn-small btn-color btn-pad">
		
		</form>
		