<script type="text/javascript" src="js/hide.js" ></script>
<input type="button" value="MCQ" onclick="window.location='index.php?c=mcq'">
<input type="button" value="FRQ" onclick="window.location='index.php?c=free_response'">
<input type="button" value="T/F" onclick="window.location='index.php?c=true_false'">
<input type="button" value="ORQ" onclick="window.location='index.php?c=order_question'">
<input type="button" value="MMCQ" onclick="window.location='index.php?c=multiple_answers'">

 <form action="do_questions.php?op=I&type=FRQ" method="post" enctype="multipart/form-data">

	  <div id="content">
        <fieldset class="manufacturer">
		<legend>FR</legend>
	
			<div class="boxfield">
			 	Question: <input type="text" name="question" size=50> <input type="checkbox" id="chkbox" >Image
			 </div>
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
		Question Image:<input type="file" name="question_image" size=70> 
		</div>
		<br style="clear:both" />
			 <div class="boxfield">
				Solutions:
				</div>
						
			 <div class="boxfield">
			 	<textarea name="correctAns" size=50></textarea> 
			 </div>
			 
        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" onclick="question_list.php"/>
	 </div>
</form>
