<!-- logon register form -->
<form id="fapNetui_Form_0" action="#" class="transactionForm" method="post">

    
  <fieldset>
    <p>
      <strong>
        During your transaction:
      </strong>
    </p>
    <p>
      <ul>
        <li>
          Please don't use the buttons on your browser (e.g. 'back', 'forward', 'refresh' etc.), you should only use the buttons on the bottom of each page and you should click these only once.
        </li>
        <li>
          Please have all your documents to hand as the service will timeout when not in use.
        </li>
        <li>
          Please ensure the details you enter are your own. You cannot apply for a driving licence for someone else.
        </li>
      </ul>
    </p>
    <p>
	{if $payments gt 0}
     <a href="index.php?c=paper&isu={$smarty.get.isu}">Start</a>

{else}
<a href="paynow/do.payment.php?client={$userdata.id}&isu={$smarty.get.isu}"  target="_blank">Make Payment</a>

{/if}
</form>