<div class="container-fluid">
		<div class="row-fluid">

<div id="content" class="span10">

			
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-info-sign"></i> Issue Management</h2>
						
					</div>
					<div class="box-content">

<script type="text/javascript" src="js/hide.js" ></script>
<div id="formpage_1" name="insert" style="visibility: visible; display: block; .."> 
  
 <form action="do_issue.php?op={$_ENGINE.operation}" method="post" enctype="multipart/form-data">

	  <div id="content">
        <fieldset class="manufacturer">
		<legend>Issue</legend>
		
		<!--
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Name: <span>*</span></label>
                                    <input type="text" required="" value="" name="name" id="name" class="form-control">
                                 </div>
		-->
		<p>
			
			 <label>	Volume :<span>*</span></label>
			<select name="volume" required  class="form-control">
			<option value="" >Select an Volume</option>
			{section name=listb loop=$volume}
	<option value="{$volume[listb].id}" {if $volume[listb].id eq $issue.0.volume } selected {/if}>{$volume[listb].name}</option>
	{/section}
			</select>
			
			 
			 </p>
			 <p>
				
 <label>Issue  Title :<span>*</span></label>
			<input type="text" name="title" size="70" class="form-control" value ="{$issue.0.Title}" required/>
			 
			 </p>
			 
	        <p>
					
			 	 <label>PDF Upload:<span>*</span></label>
			 <input type="file" name="points" size="70"  required> 
			 
		</p>
			 
        </fieldset> 
		<p></p>
		<p>
	    <input type="submit" value="Confirm"  class="btn-small btn-color btn-pad"/>
		
	    <input type="button" value="Cancel"  class="btn-small btn-color btn-pad" href="question_list.php" />
		</p>
	 </div>
</form>

</div>
</div>
				</div>
			</div>
</div>

</div>
{include file='box/a_footer.htm'}
</div>

