 <article class="post hentry">
                           <div class="post-image">
                               <embed src="modules/pdf/Issue_{$smarty.get.id}.pdf" width="840" height="550" type="application/pdf" alt="coming soon"></embed>
                           </div>
                          
                        <div class="caption lfb caption_button_2 fadeout tp-caption start"
                           data-x="210"
                           data-y="330"
                           data-speed="800"
                           data-endspeed="300"
                           data-start="2900"
                           data-hoffset="70"
                           data-easing="easeOutExpo">
                           <a class="btn-special hidden-xs btn-color" href="index.php?c=front&isu={$smarty.get.id}">Take Test</a>
						   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						   <a class="btn-special hidden-xs btn-grey" href="modules/pdf/Issue_{$smarty.get.id}.pdf"> Download Module</a>
                        </div>
                        </article>
 
 

                     </div>