<div class="container-fluid">
		<div class="row-fluid">

<div id="content" class="span10">

			
			<div class="row-fluid">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-info-sign"></i> Questions Management</h2>
						
					</div>
					<div class="box-content">

<script type="text/javascript" src="js/hide.js" ></script>
<div id="formpage_1" name="insert" style="visibility: visible; display: block; .."> 
  
 <form action="do_questions.php?type=MCQ&id={ $question.0.id}" method="post" enctype="multipart/form-data">
 <input type="hidden" name = "solution" value="text">
	 <input type="hidden" name = "op" value="{$_ENGINE.operation}">
	  <div id="content">
        <fieldset class="manufacturer">
		<legend>Test Question</legend>
		{if $msg neq ""}
			{if $msg|strpos:'Error'===0 }
			
				<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Error!</strong> {$msg}.
				</div>
				
			{else} 
				 <div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Success!</strong>Your {$msg} was successful!!.
				</div>
			{/if}
		{/if}
		<div class="">
			 	<label>Issue :</label>
			<select name="issue"  class="form-control" required >
			<option value="" >Select an Issue</option>
			{section name=listb loop=$issue}
	<option value="{$issue[listb].id}" {if $issue[listb].id eq $question.0.issue_no} selected {/if}>{$issue[listb].Title} ({$issue[listb].name})  </option>
	{/section}
			</select>
			 </div>
	        <br style="clear:both" />
			<div class="boxfield">
			 	<label>Question:</label>
			 <input type="text" name="question" size="70" class="form-control" value="{$question.0.question}" required> 
			 
			 </div>
		
			
			
			 <br style="clear:both" />
			 
			  <div id="textsol"  class="boxfield">
			 <label> Correct Answer:</label> <input type="text" name="correctAns" size='70' class="form-control" value="{$correct.0.answer}" required />
			  </div>
			  <br>
		
			
			
			  <div class="boxfield">
			 
			 <div id="misleading">
			<b>	Misleading Solutions:</b>
			<div id="textmis"  class="boxfield ">
			 <label>Answer :</label><input type="text" name="answer[]" size='70' class="form-control"  value="{$misledding[0].answer}" required  /> 
			 
			 </div>
			 	{section name=listb start=1 loop=$misledding}
				 <!--<br style="clear:both" />-->
			 <div id="textmis"  class="boxfield ">
			 <label>Answer :</label><input type="text" name="answer[]" size='70' class="form-control"  value="{$misledding[listb].answer}" required  /> 
			 {if $smarty.section.listb.index neq 0}
				<a href="#" class="close" aria-label="close" data-dismiss="alert"><i class='glyphicon glyphicon-remove' style='color:red;padding-right:2px;'></i></a>
			 {/if}
			 </div>
			{/section}
			  </div>
			 </div>
			 <br style="clear:both" />
			 <div class="boxfield">
			 <input type="button" value="Add" class="btn btn-special btn-color pull-right" onClick="return newupload()"> 
			 </div>
			 
        </fieldset>
		<br>
	    <input type="submit" value="Confirm" class="btn btn-special btn-color "/>
	    <input type="button" value="Cancel" class="btn btn-special btn-color " href="question_list.php" />
	 </div>
</form>

</div>
</div>
				</div>
			</div>
</div>

</div>
{include file='box/a_footer.htm'}
</div>