<script type="text/javascript" src="js/hide.js" ></script>
<input type="button" value="MCQ" onclick="window.location='index.php?c=mcq'">
<input type="button" value="FRQ" onclick="window.location='index.php?c=free_response'">
<input type="button" value="T/F" onclick="window.location='index.php?c=true_false'">
<input type="button" value="ORQ" onclick="window.location='index.php?c=order_question'">
<input type="button" value="MMCQ" onclick="window.location='index.php?c=multiple_answers'">

  <form action="do_questions.php?type=MCMQ" method="post" enctype="multipart/form-data">

	  <div id="content">
        <fieldset class="manufacturer">
	<legend>MMCQ</legend>

           
			<div class="boxfield">
			 	Question:
			 <input type="text" name="question" size=70> 
			<input type="checkbox" id="chkbox" >Image
			 </div>
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
		Question Image:<input type="file" name="question_image" size=70> 
		</div>
		<br style="clear:both" />
			
			
			
			<br style="clear:both" />
			 <div class="boxfield">
			 	Solutions: <input type="radio" id= "soltype" name="solutionchoice"  value="text"/>Text   
				<input type="radio" id= "soltype" name="solutionchoice" value="image"/> Images
				<input type="hidden"  name="solution" id="solution" value=""/> 
			 </div>
			 <br style="clear:both" />
			 <div id="correct">
			  <div id="textsol" style="display: none;" style=" visibility: hidden;" class="boxfield">
			  Correct Answer: <input type="text" name="correctAns[]" size=70/>
			  </div>
			  
			  <div id="imagesol" style="display: none;" style=" visibility: hidden;" class="boxfield">
			  Correct Answer: <input type="file" name="correctAns[]" size=70/> 
			  </div>
			  
			  <input type="button" value="Add" onClick="return cupload()"> 
			</div>
			   <br style="clear:both" />
			  <div class="boxfield">
			 
			 <div id="misleading">
			<h4>	Misleading Solutions:</h4>
			 	
				 <br style="clear:both" />
			 <div id="textmis" style="display: none;" style=" visibility: hidden;" class="boxfield">
			 Answer :<input type="text" name="answer[]" size=70> 
			 </div>
			 <div id="imagemis" style="display: none;" style=" visibility: hidden;"class="boxfield">
			 Answer : <input type="file" name="answer[]" size=70>
			 </div>
			  </div>
			 </div>
			 <br style="clear:both" />
			 <div class="boxfield">
			 <input type="button" value="Add" onClick="return newupload()"> 
			 </div>

        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php"/>
	 </div>

</form>

