
	<div class="content">
      <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <h1>Online CPD</h1><hr><p>Thank you for using the template. If you have any questions that are beyond the scope of this file, please feel free to ask on the comment section of the <a href="http://usman.it/free-responsive-admin-template">article page</a>, but there is no warranty.

Please share the template on your social network.
<br/><br/>
Apart from this doc there is a <a href="http://usman.it/themes/charisma/" target="_blank">live preview</a> with examples and also the code is commented for your convenience.
<p><b>Please note: when you access it from a server like localhost, by default php-version is served even though you browse using .html extension, remove .htaccess file if you need HTML files to be served.</b><br/><br/>
Thanks.</p>
</p></div>

 

 <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<h3>Intro</h3><hr class="notop">
<p>Charisma is a fully featured, responsive admin template based on Bootstrap from Twitter, which comes with <strong>9 different themes</strong> to suite your style and application type. It is featured with many plugins and UI elements to ease your work. It works on all major browsers and optimizes itself for tablets and mobile phones.</p>


	<h3>Features</h3><hr class="notop">
<ul>
	<li>9 different themes</li>
	<li>Fully responsive, optimized UI for tablets and mobile phones</li>
	<li>Based on Bootstrap, jQuery UI can be also used without hassle</li>
	<li>HTML5 valid and CSS3, though compatible with HTML4, works on IE8+</li>
	<li>Commented code</li>
	<li>Custom product tour, <a target="_blank" href="http://usman.it/themes/charisma/tour.html">see example</a></li>
	<li>1000+ icons, <a target="_blank" href="http://usman.it/themes/charisma/icon.html">see icons</a> (Glyphicons + Opa Library Icons)</li>
	<li>Grid system, <a target="_blank" href="http://usman.it/themes/charisma/grid.html">see example</a></li>
	<li>Charts, including, pie, stack, flot, realtime etc.</li>
	<li>Data tables</li>
	<li>Widget boxes, collapsible, sortable, closable, <a target="_blank" href="http://usman.it/themes/charisma/grid.html">see example</a></li>
	<li>Gallery with fullscreen support, <a target="_blank" href="http://usman.it/themes/charisma/gallery.html">see example</a></li>
	<li>Ajaxified menus</li>
	<li>Full calendar, monthly weekly, daily, with todo list.</li>
	<li>File manager, with create, view, delete, upload, compress and uncompress features</li>
	<li>Custom error page</li>
	<li>Auto active link detection and much more.</li>
</ul>
<h3>UI Elements</h3>
<ul>
	<li>Autocomplete</li>
	<li>Custom Tooltip</li>
	<li>Popover</li>
	<li>Star Rating</li>
	<li>Toggle Switch</li>
	<li>Tag Boxes</li>
	<li>Rich Text Editor</li>
	<li>Date Picker</li>
	<li>Multiple File Upload</li>
	<li>Slider</li>
	<li>Dialog Box</li>
	<li>Auto Growing Textarea</li>
	<li>Ajax Loaders</li>
	<li>Progress Bars</li>
	<li>Alerts</li>
	<li>Pop Notifications</li>
</ul>
</div>


<section id="html_structure">

<h3>Registration Form</h3><hr class="notop">
<form action="do.reg.php" method="post" enctype="multipart/form-data" name="myForm">
	<div id="content">
	
			<table>
			
	        <input type="hidden" name="op"  value="I" />
			<tr>
			<div class="boxfield">
			 	<td>Firstname: </td><td><input type="text" name="name" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			</tr>
			<tr>
			<div class="boxfield">
			 	<td>Intials:</td> <td><input type="text" name="intials" size="10" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			 <div class="boxfield">
			 	<td>Surname:</td> <td><input type="text" name="surname" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			 
			 <div  class="boxfield">
				<td>Photo: </td><td><input type="file" name="photo" size="70" value="{$match[0].match_time} " required/></td>
			</div>
			</tr>
			  <tr>
			<div class="boxfield">
			 	<td>Pofession:</td><td> <input type="text" name="profession" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			  <tr>
			 <div class="boxfield">
			 	<td>PCZ Reg No:</td> <td><input type="text" name="pczno" size="70" value="{$match[0].match_date}"   required/></td>
				
			 </div>
			 </tr>
			
			 <div class="boxfield">
			 	<td>Mobile No:</td><td> <input type="text" name="phone" size="70" value="{$match[0].match_date}"  onblur="idvalidation(value)" required/></td>
				
			 </div>
			 </tr>
			 <tr>
			  <div  class="boxfield">
				<td>Address: </td>	<td><input type="text" name="address1" size="70" value="{$match[0].match_time} " required/></td></tr>
				<tr><td></td>			<td><input type="text" name="address2" size="70" value="{$match[0].match_time} " required/></td></tr>
				<tr><td>	</td>		<td><input type="text" name="address3" size="70" value="{$match[0].match_time} " required/></td></tr>
				<tr><td>	</td>		<td><input type="text" name="address4" size="70" value="{$match[0].match_time} " required/></td>
			</div>
			 </tr>
			 <tr>
			 <div  class="boxfield">
				<td>City:</td><td> <select  NAME="city" required>
					<option VALUE="">--Select your City--</option>
					<option VALUE="hre">Harare</option>
					<option VALUE="byo">Bulawayo</option>
					<option VALUE="gwe">Gweru</option>
					<option VALUE="vfall">Victoria Falls</option>
					<option VALUE="mtre">Mutare</option>
					
				</select></td>
			</div>
			</tr>
			 			 <tr>
			<div class="boxfield">
			 	<td>Email:</td><td> <input type="text" name="email" size="70" value="{$match[0].match_date}" required/></td>
				
			 </div>
			 </tr>
			 
			 <tr>
			 
			  <div  class="boxfield">
				<td>Password: </td><td><input type="password" name="password" size="70" value="{$date}" readonly/></td>
			</div>
			 </tr>
			 
			
			</table>
			
		
     
		   
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="match_list.php" />
	</div>
</form>
</section>
<section id="styling">
	<h3>Styling</h3><hr class="notop">
<p>&nbsp;
  </p>
<h3>
	Forms:</h3>
<p>
	For form styling please refer to&nbsp;<a data-mce-="" href="http://twitter.github.com/bootstrap/base-css.html#forms">Twitter Bootstrap form styling page</a>.</p>
<p style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; ">&nbsp;
  </p>
<h3>
	Buttons:</h3>
<p>
	Adding basic class or classes can convert an element to a button, please refer to&nbsp;<a data-mce-="" href="http://twitter.github.com/bootstrap/base-css.html#buttons">Twitter Bootstrap button styling page</a>.</p>
<p>&nbsp;
  </p>
<h3>
	Table:</h3>
<p>
	For table styling please refer to&nbsp;<a data-mce-="" href="http://twitter.github.com/bootstrap/base-css.html#tables">Twitter Bootstrap table stying page</a>.</p>
<div>
	&nbsp;</div>
</section>
<section id="plugins_used">
	<h3>Plugins Used</h3><hr class="notop">
<ul>
	<li>
		<a href="http://twitter.github.com/bootstrap/javascript.html">Twitter Bootstarp plugins</a></li>
	<li>
		<a href="http://jqueryui.com/">jQuery UI</a></li>
	<li>
		<a href="http://harvesthq.github.com/chosen/">Chosen plugin</a> for enhacing select inputs</li>
	<li>
		<a href="http://code.google.com/p/flot/">Flot plugin</a>&nbsp;charts</li>
	<li>
		<a href="http://arshaw.com/fullcalendar/">FullCalendar plugin</a> for a full calendar</li>
	<li>
		<a href="http://elfinder.org/">Elfinder</a> for file manager</li>
	<li>
		<a href="http://premiumsoftware.net/cleditor/">CLEditor plugin</a> for rich text editor</li>
	<li>
		<a href="http://uniformjs.com/">Uniform</a> for stying checkbox, radio button and file inputs</li>
	<li>
		<a href="http://www.jacklmoore.com/colorbox">Colorbox plugin</a> for gallery image viewer</li>
	<li>
		<a href="http://needim.github.com/noty/">Noty</a> for advanced notifications</li>
	<li>
		<a href="http://www.datatables.net/">DataTable plugin</a> for enhancing HTML tables</li>
	<li>
		<a href="http://www.wbotelhos.com/raty/">Raty</a> for star rating</li>
	<li>
		<a href="http://awardwinningfjords.com/2009/06/16/iphone-style-checkboxes.html">iPhone-style Checkboxes</a></li>
	<li>
		<a href="http://onehackoranother.com/projects/jquery/jquery-grab-bag/autogrow-textarea.html">Auto-Growing Textarea</a></li>
</ul>
</section>
<section id="sources_and_credits">
	<h3>Sources and Credits</h3><hr class="notop">
<p>
	Without Twitter Bootstrap this template won't be possible, I am grateful to all the jQuery plugin authors, <a href="http://opalang.org/">Opa Library</a> for icons and <a href="http://bootswatch.com/">Bootswatch</a> for skins which are modified.</p>
</section>

</div>