
{if $score neq "null"}

<!--You have <span id="timer">{$timeTilEnd}</span> seconds left-->
<div id="remain"><em>{$remainingDay} days, {$remainingHour} hours, {$remainingMinutes} minutes, {$remainingSeconds} seconds"</em></div>

<script type="text/javascript">
  var TimeLeft = {$timeTilEnd};
  var days = {$remainingDay};  
  var hours = {$remainingHour};  
  var minutes = {$remainingMinutes}; 
  var seconds = {$remainingSeconds};
 
{literal}
function countdown()
{
      if(TimeLeft > 0) {
            TimeLeft -= 1;
			seconds--;
			if (seconds < 0){
							minutes--;
							seconds = 59;
								}
			if (minutes < 0){
							  hours--;
							  minutes = 59;
							}
			  if (hours < 0){
				  days--;
				  hours = 23;
			  }
            //document.getElementById('timer').innerHTML = TimeLeft;
			document.getElementById("remain").innerHTML = "<em>" +days+" days, "+hours+" hours, "+minutes+" minutes, "+seconds+" seconds </em>";
      }
if(TimeLeft < 1) {
			clearInterval(CountFunc);
			document.test.submit();
            
      }
}

CountFunc = setInterval(countdown,1000);
{/literal}
</script>

 <form name="test" action="do_paper.php?id=MCQ&isu={$smarty.get.isu}" method="post" enctype="multipart/form-data">
<ol display ='inline'>
<!--multiple choice question -->
<h3>Multiple Choice Answer</h3>
	{section name=MCQ loop=$MCQ}
	
<li ><strong><div id="question"><img src="images/panel_q.gif"/> {$MCQ[MCQ].question}</div></Strong><br/></li>
{if $MCQ[MCQ].question_image eq 1}
<img src="images/questions_and_solutions/question{$MCQ[MCQ].id}.jpg"width="150px" height="150px"><br/>
{/if}

<input type='hidden' NAME="question{$MCQ[MCQ].id}"  value='{$MCQ[MCQ].id}answer0'/>
{section name=MCQsolution loop=$MCQsolution[MCQ]}

<INPUT TYPE="radio" NAME="question{$MCQ[MCQ].id}" VALUE="{$MCQ[MCQ].id}answer{$MCQsolution[MCQ][MCQsolution].id}">{if $MCQ[MCQ].solutionImage eq 1 }<img src="images/questions_and_solutions/{$MCQsolution[MCQ][MCQsolution].answer}"width="50px" height="50px"> {else}{$MCQsolution[MCQ][MCQsolution].answer}{/if}<br/>
{/section}
{/section}
<!--
<!--multi response question 
<h3>Multiple Choice Multiple Answer</h3>

	{section name=MCMQ loop=$MCMQ}
	
<li><strong>Question : {$MCMQ[MCMQ].question}</Strong><br/></li>
{if $MCMQ[MCMQ].question_image eq 1}
<img src="images/questions_and_solutions/question{$MCMQ[MCMQ].id}.jpg"><br/>
{/if}

<input type='hidden' NAME="question{$MCMQ[MCMQ].id}[]"  value='0'/>
{section name=MCMQsolution loop=$MCMQsolution[MCMQ]}
<INPUT TYPE="checkbox" NAME="question{$MCMQ[MCMQ].id}[]" VALUE="{$MCMQsolution[MCMQ][MCMQsolution].answer}">
{if $MCMQ[MCMQ].solutionImage eq 1 }<img src="images/questions_and_solutions/{$MCMQsolution[MCMQ][MCMQsolution].answer}" width="50px" height="50px"> {else}{$MCMQsolution[MCMQ][MCMQsolution].answer}{/if}
<br/>
{/section}
{/section}

<!--ordering quetstion --
<h3>Ordering Answers</h3>
{section name=ORD loop=$ORD}

<li><strong>Question : {$ORD[ORD].question}</Strong><br/></li>
{if $ORD[ORD].question_image eq 1}
<img src="images/questions_and_solutions/question{$ORD[ORD].id}.jpg"width="150px" height="150px"><br/>
{/if}


{section name=ORDsolution loop=$ORDsolution[ORD]}
<select  NAME="question{$ORD[ORD].id}[]">
<option VALUE="">----</option>
{section name=ORDsolution1 loop=$ORDsolution[ORD]}

<option VALUE="{$ORDsolution[ORD][ORDsolution1].answer}">{$ORDsolution[ORD][ORDsolution1].answer}</option>
{/section}
</select>
{/section}
{/section}


<!--free response question --
<h3>Free Answer questions</h3>


{section name=FRQ loop=$FRQ}

<li><strong>Question : {$FRQ[FRQ].question}</Strong></li>
{if $FRQ[FRQ].question_image eq 1}
<img src="images/questions_and_solutions/question{$FRQ[FRQ].id}.jpg"width="150px" height="150px"><br/>
{/if}

<input type='hidden' NAME="question{$FRQ[FRQ].id}"  value='0'/>
<textarea name="question{$FRQ[FRQ].id}" size=50></textarea> <br/>

{/section}

<!--true or false response question --
<h3>True or Fasle questions</h3>


{section name=TFQ loop=$TFQ}

<li><strong>Question : {$TFQ[TFQ].question}</Strong></li>
{if $TFQ[TFQ].question_image eq 1}
<img src="images/questions_and_solutions/question{$TFQ[TFQ].id}.jpg"width="150px" height="150px"><br/>
{/if}
<INPUT TYPE="hidden" NAME="question" VALUE="{$TFQ[TFQ].id}"/>
<INPUT TYPE="checkbox" NAME="question{$TFQ[TFQ].id}[]" VALUE="T"> True
<INPUT TYPE="checkbox" NAME="question{$TFQ[TFQ].id}[]" VALUE="F"> False
{/section}

-->
</ol>
 <input type="submit" value="Submit" class="serviceSub row_btn"/>
</form>
{else}

{/if}