<!-- Content Start -->
         <div id="main">
		 {if $userdata.profile neq A }
            <!-- Title, Breadcrumb Start-->
            <div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                       
                     </div>
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                           <ul>
                             
                              <li>Registration</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Title, Breadcrumb End-->
			 {/if}
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
					 {if $userdata.profile neq A }
                        <h3 class="title">Register with us</h3>
                        <p>
                           
                        </p>
                        <p>
                           
                        </p>
                        <div class="divider"></div>
                       {/if}
<form action="do.reg.php?" method="post" enctype="multipart/form-data" name="myForm">
							<input name="op" type="hidden" value="{$_ENGINE.operation}">
                              <input name="name" type="text" class="form-control" id="name" placeholder="Name" value="{$users.0.fname}"><br>
                              <input name="surname" type="text" class="form-control" id="surname" placeholder="Surname" value="{$users.0.surname}">
                              <br>
                              <input name="profession" type="text" class="form-control" id="profession" placeholder="Profession" value="{$users.0.profession}"><br>
                             <input name="pczno" type="text" class="form-control" id="pcz_number" placeholder="PCZ Registration Number" value="{$users.0.pczno}"><br>
                     
                                
                                   <input name="email" type="text" class="form-control" id="email" placeholder="Email" value="{$users.0.email}"><br>
                               {if $_ENGINE.operation eq "I"}
								 				<input placeholder="Password" type='password' name='newpassword' class="form-control" ><br>
			<p><!--<label> Repeat new password:</label> -->	<input placeholder="Second Password" type='password' name='repeatnewpassword' class="form-control"><br>
                                {/if}

	  <img width="125" height="125" alt="" class="imgr" src="upload/profile/pp{$users.0.id}.{$users.0.image}">
	   <input name="image" type="file" id="image"  placeholder="Profile Picture" class="validate[required,length[0,100]] text-input" value="<?php  ?>"/>
	   
								<br><br>
                                   <input class="btn-small btn-color btn-pad" type="submit" name="register" id="register" value="Submit">                                   
								   </form>
                     
                    
                  </div>
                 
                  <div class="divider"></div>
               </div>
            </div>
            <!-- Main Content end-->
         </div>
         <!-- Content End -->


