

    
  <fieldset>
    <p>
      <strong>
        Thank you for taking your CPD Test with us. Your test results are displayed below.
      </strong>
    </p>
    <p>
      <ul>
        <li>
          Your Score : {$score} % 
        </li>
		 <li>
          Your Grade : {if $score gte $passmark } PASS {else} FAIL {/if} 
        </li>
        <li>
         Total number of Questions : {$questions}
        </li>
        <li>
          Pass Mark : {$passmark}%
        </li>
		<li>
          Date of Exam : {$date}
        </li>
      </ul>
    </p>
    <p>
     </fieldset>

