
<body bgcolor="#008080" link="#FF0000" vlink="#FF0000" alink="#FF0000">
<center>
<script type="text/javascript" src="js/hide.js" ></script>
<input type="button" value="MCQ" onclick="window.location='index.php?c=mcq'">
<input type="button" value="FRQ" onclick="window.location='index.php?c=free_response'">
<input type="button" value="T/F" onclick="window.location='index.php?c=true_false'">
<input type="button" value="ORQ" onclick="window.location='index.php?c=order_question'">
<input type="button" value="MMCQ" onclick="window.location='index.php?c=multiple_answers'">
<!--
<input type="button" value="MCQ" onclick="pagechange(1);">
<input type="button" value="FRQ" onclick="pagechange(2);">
<input type="button" value="T/F" onclick="pagechange(3);">
<input type="button" value="ORQ" onclick="pagechange(4);">
<input type="button" value="MMCQ" onclick="pagechange(5);">
<!-- the first page has style set to be visible -->
<div id="formpage_1" name="insert" style="visibility: visible; display: block; .."> 
  
 <form action="do_questions.php?op=I&type=MCQ" method="post">

	  <div id="content">
        <fieldset class="manufacturer">
		<legend>MCQ</legend>
	        
			<div class="boxfield">
			 	Question:
			 <input type="text" name="question" size=70> <input type="checkbox" id="chkbox" >Image
			 </div>
		<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
		Question Image:<input type="file" name="questionImage" size=70> 
		</div>
			<br style="clear:both" />
			 <div class="boxfield">
			 	Solutions: <input type="radio" id= "soltype" name="solutionchoice"  value="text"/>Text   <input type="radio" id= "soltype" name="solutionchoice" value="image"/> Images
			 </div>
			 <br style="clear:both" />
			 
			  <div id="textsol" style="display: none;" style=" visibility: hidden;" class="boxfield">
			  Correct Answer: <input type="text" name="correctAns" size=70/>
			  </div>
			  
			  <div id="imagesol" style="display: none;" style=" visibility: hidden;" class="boxfield">
			  Correct Answer: <input type="file" name="correctAns" size=70/> 
			  </div>
			
			   <br style="clear:both" />
			  <div class="boxfield">
			 
			 <div id="misleading">
			<h4>	Misleading Solutions:</h4>
			 	
				 <br style="clear:both" />
			 <div id="textmis" style="display: none;" style=" visibility: hidden;" class="boxfield">
			 Answer :<input type="text" name="answer[]" size=70> 
			 </div>
			 <div id="imagemis" style="display: none;" style=" visibility: hidden;"class="boxfield">
			 Answer : <input type="file" name="answer[]" size=70>
			 </div>
			  </div>
			 </div>
			 <br style="clear:both" />
			 <div class="boxfield">
			 <input type="button" value="Add" onClick="return newupload()"> 
			 </div>
			 
        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
	 </div>
</form>
<input type="type">
</div>


<!-- the 2nd and following pages have style set to be invisible -->
<div id="formpage_2"  name="insert" style="visibility: hidden; display: none; ..">
 <form action="do_questions.php?op=I&type=FRQ" method="post">

	  <div id="content">
        <fieldset class="manufacturer">
		<legend>FR</legend>
	
			<div class="boxfield">
			 	Question: <input type="text" name="question" size=50> <input type="checkbox" id="chkbox" >Image
			 </div>
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
		Question Image:<input type="file" name="questionImage" size=70> 
		</div>
			 <div class="boxfield">
				Solutions:
				</div>
						
			 <div class="boxfield">
			 	<textarea name="solution1" size=50></textarea> 
			 </div>
			 
        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" onclick="question_list.php"/>
	 </div>
</form>

</div>

<!-- the 3nd and following pages have style set to be invisible -->
<div id="formpage_3" name="insert" style="visibility: hidden; display: none; ..">
 
<form action="do_questions.php?op=I&type=IQ" method="post" enctype="multipart/form-data">

	  <div id="content">
        <fieldset class="manufacturer">
	<legend>T/F</legend>

           
			<div class="boxfield">
			 	Question:
			 <input type="text" name="question" size=70> 
			 </div>
			
			<br style="clear:both" />
			 
			 <div class="boxfield">
				Solutions:
			 
			 	<input type="radio" name="solution1" value="true">True <input type="radio" name="solution1" value="false">False
			 </div>
			 

        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php"/>
	 </div>
</form>


</div>

<!-- the 4nd and following pages have style set to be invisible -->
<div id="formpage_4" name="insert" style="visibility: hidden; display: none; ..">
<form action="do_questions.php?op=I&type=ORD" method="post">

	  <div id="content">
        <fieldset class="manufacturer">
	<legend>ORQ</legend>

           
			<div class="boxfield">
			 	Question:
			 <input type="text" name="question" size=70> 
			 </div>
		
			 <div class="boxfield">
				Solutions in the correct order:
			 </div>
		
			 <div class="boxfield">
			 Answer 1:<input type="text" name="solution1" size=70> 
			 </div>
			 <div class="boxfield">
			 Answer 2: <input type="text" name="solution2" size=70>
			 </div>
			 
			 <div class="boxfield">
			 Answer 3:<input type="text" name="solution3" size=70> 
			 </div>
			 
			 <div class="boxfield">
			 Answer 4: <input type="text" name="solution4" size=70>
			 </div>


        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
	 </div>

</form>


</div>

<div id="formpage_5" name="insert" style="visibility: hidden; display: none; ..">
  <form action="do_questions.php?op=I&type=MCMQ" method="post">

	  <div id="content">
        <fieldset class="manufacturer">
	<legend>MMCQ</legend>

           
			<div class="boxfield">
			 	Question:
			 <input type="text" name="question" size=70> 
			 </div>
			
			
			 <div class="boxfield">
				Solutions:
			 </div>
			
			
			
			 <div class="boxfield">
			 	Solution 1<input type="text" name="solution1" size=70> 
			 </div>
			 
			
			 <div class="boxfield">
			 	Solution 2:<input type="text" name="solution2" size=70> 
			 </div>
			 
	
			 
		
			 <div class="boxfield">
			 	Solution 3:<input type="text" name="solution3" size=70> 
			 </div>
			 
		
			 
			 <div class="boxfield">
				Misleading Solutions:
			 </div>
			
			  
			 
			 <div class="boxfield">
			 Answer 1:<input type="text" name="answer[]" size=70> 
			 </div>
			 <div class="boxfield">
			 Answer 2: <input type="text" name="answer[]" size=70>
			 </div>
			 
			 <div class="boxfield">
			 Answer 3:<input type="text" name="answer[]" size=70> 
			 </div>
			 
			 <div class="boxfield">
			 Answer 4: <input type="text" name="answer[]" size=70>
			 </div>


        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php"/>
	 </div>

</form>

 
</div>

</center>
</body>
