
<div class="container-fluid">
		<div class="row-fluid">

			<div id="content" class="span10">

						
						
						<div class="row-fluid">
							<div class="box span12">
								<div class="box-header well" data-original-title>
									<h2><i class="icon-info-sign"></i> Transaction Management</h2>
									
								</div>
								<div class="box-content">

			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead class="header_table">
							<th  width="2%">Member</th>
							<th  width="52%">Issue</th>
							<th  >Amount</th>
							<th  width="18%"> Date</th>	
							<th >Reference</th>
							<th >Status</th>
						<!--{if $userdata.profile eq A}
						<th  width="18%">Action</th>
						{/if}-->
						
				</thead>
			<tbody>
			{section name=list loop=$transaction}

			<tr>

				<td>{$transaction[list].name} { $transaction[list].surname}</td>
				<td>{$transaction[list].Title} </td>
				<td>${$transaction[list].amount}</td>
				<td>{$transaction[list].paydate}</td>
				<td>{$transaction[list].reference}</td>
				<td>{$transaction[list].paymentStatus}</td>
			<!--	{assign var=count value=0}
				{assign var=ref value=0}
				
				{section name=listb loop=$issues}
				
				{if $volume[list].id eq $issues[listb].volume}
				{assign var=count value=$count+1}
				{assign var=ref value=$issues[listb].count}
				{/if}
				
				
				{/section}
				
				{if $count gt 0}
				<a href="index.php?c=issues&vol={$volume[list].id}">{$ref}</a>
				{elseif $userdata.profile eq A}
				<a href="index.php?c=new_issues&op=I">Add New issue</a>
				{elseif $userdata.profile eq S}
				Coming soon
				{/if}
				
				
				</td>
				{if $userdata.profile eq A}
				<td>
					<a href="do.quest.php?op=D&id={$volume[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
					<a href="index.php?c=vol&id={$volume[list].id}" /><img src="images/icons/edit.png" /></a>
					<a href="do.quest.php?op=S&id={$volume[list].id}" /><img src="images/icons/status{$volume[list].active}.png" />
					</a>
				</td>
				{/if}-->
			</tr>
			{/section}
			</tbody>

			</table>
			</div>
							</div>
						</div>
			</div>
			{include file='box/pagination.htm'}
			<!--{if $userdata.profile eq A}
				<div class="btn-round"><a href="index.php?c=vol" class="btn btn-special btn-color pull-right"> Add Volume</a> </div>
				{/if}-->
		</div>
{include file='box/a_footer.htm'}
</div>