<script type="text/javascript" src="js/hide.js" ></script>
<form action="do_questions.php?type=TFQ" method="post" enctype="multipart/form-data">

	  <div id="content">
        <fieldset class="manufacturer">
	<legend>T/F</legend>

           
			<div class="boxfield">
			 	Question:
			 <input type="text" name="question" size=70> <input type="checkbox" id="chkbox" >Image
			 </div>
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
		Question Image:<input type="file" name="question_image" size=70> 
		</div>
		<br style="clear:both" />
			
			<br style="clear:both" />
			 
			 <div class="boxfield">
				Solutions:
			 
			 	<input type="radio" name="correctAns" value="true">True <input type="radio" name="correctAns" value="false">False
			 </div>
			 

        </fieldset>
	    <input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php"/>
	 </div>
	 <input type="type">
</form>


