<form method="POST" action="https://www.txt.co.zw/Remote/SendMessage">
	<input type="hidden" name="username" value="ttcsremote4" />
	<input type="hidden" name="recipients" value="0773447228" />
	<input type="hidden" name="body" value="testing with https" />
	<button type="submit">Go</button>
</form>